.container{
    padding-top:100px;
    /* margin:0 35% 0 2%; */
    margin:0 12%;
}
.containerHeader{
    margin-top:20px;
    margin-bottom:15px;
    display: inline-block;
    font-size:24px;
    font-weight: bold;
}
.boxContainer{
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    margin-top: 1rem;
    padding:10px;
    background: white;
}
.propContainer{
    position: relative;
    margin-bottom:10px;
}
.propertyInfo{
    margin-left:28px;
    display: grid;
    grid-template-columns: 20% 20%;
}
@media all and (max-width: 950px) {
    .propertyInfo{
        grid-template-columns: 30% 30%;
  }
}
@media all and (max-width: 600px) {
    .propertyInfo{
        grid-template-columns: 50% 50%;
  }
}
.propertyInfoColor{
    font-weight: bold;
}
.manageButton{
    position: absolute ;
    right:0 ;
    bottom:0px;
    
}
.manageButton1{
    position: absolute ;
    right:155px ;
    bottom:0px;
}
@media all and (max-width: 768px) {
    .gridContainer div{
        flex: 0 100%;
    }
    .manageButton{
        position: initial;
        margin-left:28px;
        margin-top:10px;
    }
    .manageButton1{
        position: initial;
        margin-left:28px;
        margin-top:10px;
    }
    .container{
        padding-top:50px;
        margin:0 5%;
    }
}
.ui.green.label{
    vertical-align: middle;
}
.ui.items.projectItems >.item{
    border: 1px solid #e2e2e2;
    padding:15px;
    border-radius: 4px;
    width:100% !important;
    position: relative;
    overflow:hidden;
  }
   
  @media all and (max-width: 434px) {
   .ui.celled.horizontal.list{
      text-align: center;
    }
  }
  @media all and (max-width: 768px) {
     .header{
         text-align: center;
       }
   }
  .infoValue{
    text-align: center;font-weight: bold;font-size:16px;
    color:#0066ff;
  }
  
  .infoLabel{
    text-align: center;font-size:12px;margin-top:10px;
  }
  @media all and (max-width: 768px) {
    .middle.aligned.content{
        border-top:1px solid rgba(0,102,255,0.2) !important;
      }
  }
