<app-navbar></app-navbar>
<div class="padTop">
        <span class="sectionHeader">
            Passbook
        </span>
        <button class="ui tiny green button" (click)="addPassbook()" style="float:right;margin-right:2%;margin-top:15px;"><i class="plus icon"></i>Add Passbook</button>
</div>

<div class="plotHeader">
    <div style="float: left;margin-top:5px;">Total Plots Owned <div *ngIf="plots" class="ui green label">2</div></div>
    <!-- <button class="ui tiny green button" (click)="addPassbook()" style="float:right;margin-right:1.5%"><i class="plus icon"></i>Add Passbook</button> -->
    <div style="clear:both;"></div>
</div> 
<div class="plotContainer">
      <plot-info-container  *ngFor="let plot of plots"></plot-info-container>
        <div *ngIf="plots.length ==0" class="passbook">
            <i class="massive black book icon"></i>
          <div>
              <button (click)="addPassbook()" class="ui huge green tertiary button">Add a passbook</button><span>to display passbook details</span>
          </div>
          OR
              <button class="ui huge primary tertiary button" routerLink="/projects">Buy a Plot</button>
              <div class="ui icon input" style="margin-top:10px;">
                  <input type="text" class="searchProject"  placeholder="City, Agent, Zip Code...">
                  <i class="search icon"></i>
                </div>
        </div>
</div>


<div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
          Enter details for passbook
        </div>
        <div class="image content">
          <div class="ui medium image">
                <i class="black building icon" style="margin-left:100px;"></i>
          </div>
          <div class="description">
                <form class="ui form">
                        <div class="field">
                          <label>Plot Allotment Number</label>
                          <input type="text" name="first-name" placeholder="First Name">
                        </div>
                        <div class="field">
                          <label>OTP</label>
                          <input type="text" name="last-name" placeholder="Last Name">
                        </div>
                </form>
          </div>
        </div>
        <div class="actions">
          <div class="ui positive right labeled icon button" (click)="allotPassbook()" >
            Add Passbook
            <i class="checkmark icon"></i>
          </div>
        </div>
</div>
