.padTop{
    padding-top: 80px;
}
.sectionHeader{
    border-radius: 0px 15px 15px 0px;
    background-color: #0066FF;
    color:white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    display: inline-block;
    margin-top:15px;
    padding: 5px 15px 5px 25px ;
    margin-bottom: 20px;
}
.passbook{
    display: flex;
    flex-direction: column;
    margin:auto;
    padding:40px 0;
    font-size:18px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.plotHeader{
    width: 96%;
    margin:0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	color:white;
	background-color: #0066ff;
    padding:10px 0 10px 15px;
    font-family: 'Lato', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.plotContainer{
    width: 96%;
    margin:0 auto;
    margin-bottom: 40px;
    /* margin-bottom:10px;
    padding-bottom:20px; */
    background-color: white; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}
.modalPic{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width:80%;
}
@media all and (max-width: 769px) {
	.ui.medium.image{
		display: none;
  }
}
.searchProject::placeholder{
	text-transform: capitalize;
	font-family: "Lato", sans-serif;
	font-weight: 500;
	color: #414143 !important;
}
.searchProject{
	border-radius: 5px !important;
	width:100% !important;
	color:#414143 !important;
	font-weight: 500;
}




.container{
    padding-top:100px;
    /* margin:0 35% 0 2%; */
    margin:0 12%;
}
.containerHeader{
    margin-top:20px;
    margin-bottom:15px;
    display: inline-block;
    font-size:24px;
    font-weight: bold;
}
.boxContainer{
    border-width: 1px;
    border-color: #e2e2e2;
    border-style: solid;
    border-radius: 4px 4px 4px 4px;
    /* margin-top: 1rem; */
    padding:10px;
    /* margin: 1rem 10px 0 10px; */
}
.propContainer{
    position: relative;
    margin-bottom:10px;
}
.propertyInfo{
    margin-left:28px;
    display: grid;
    grid-template-columns: 20% 20%;
}
@media all and (max-width: 950px) {
    .propertyInfo{
        grid-template-columns: 30% 30%;
  }
}
@media all and (max-width: 600px) {
    .propertyInfo{
        grid-template-columns: 50% 50%;
  }
}
.propertyInfoColor{
    font-weight: bold;
}
.manageButton{
    position: absolute ;
    right:0 ;
    bottom:0px;
    
}
.manageButton1{
    position: absolute ;
    right:155px ;
    bottom:0px;
}
@media all and (max-width: 768px) {
    .gridContainer div{
        flex: 0 100%;
    }
    .manageButton{
        position: initial;
        margin-left:28px;
        margin-top:10px;
    }
    .manageButton1{
        position: initial;
        margin-left:28px;
        margin-top:10px;
    }
    .container{
        padding-top:50px;
        margin:0 5%;
    }
}
.ui.green.label{
    vertical-align: middle;
}