
.info{
    text-align: center;
    font-size:12px;
    width: 70%;
    margin:0 auto;
    padding-top:50px;
}
.content{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top:20px;
    justify-content: center;
}
.bottomContent{
    display: flex;
    align-items: center;
    padding:50px 0;
    justify-content: center;
}
.marketfront-logo{
    width: 150px;
    margin-left:5px;
}
.ad{
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 500px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
