
    <div class="info">
            The Spectra Group management, who envisioned a success story waiting to take shape in the retail business in 1995 itself. 
            Spectra Group and Properties is growing swiftly to become the leading property developers in South India. 
            Spectra Developers a prominent company having rich experience in land development and construction over
            10 years. Delivering the product with the best quality, innovation and value for money.
    </div>
    <div class="content">
        <!-- <img alt="spectra-logo" class="ui image spectra-logo" src="assets/spectra.png"/>  -->
        <div style="font-size:14px;margin-left:10px;font-weight: bold;">Powered By</div>
        <img alt="marketfront-logo" class="marketfront-logo" align="top" src="assets/marketfront.png"/>
        &nbsp;&nbsp;&nbsp;<div style="font-size:14px;margin-left:10px;font-weight: bold;">Follow Us:</div>&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="https://www.facebook.com/Spectra-India-Housing-Pvt-Ltd-186625748175697/">
            <button class="ui tiny circular blue facebook icon button">
                    <i class="facebook icon"></i>
            </button>
        </a>
        <button routerLink="/help" class="ui button blue tertiary">Contact Us</button>
        
    </div>
    <!-- <div class="bottomContent" style="margin:20px 0;"> -->
        <!-- Follow Us:&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="https://www.facebook.com/Spectra-India-Housing-Pvt-Ltd-186625748175697/">
            <button class="ui tiny circular blue facebook icon button">
                    <i class="facebook icon"></i>
            </button>
        </a> -->
        
        <!-- <button class="ui tiny circular google plus icon button">
                <i class="google icon"></i>
        </button> © 2019 Spectra -->
        
    <!-- </div> -->
   

