<div class="form-container sign-up-container">
    <form [@itemAnim] action="" (ngSubmit)="signIn(u1.value,p2.value)" *ngIf="hideSignIn">
      <h3><span>Sign in</span> using your username and password</h3>
      <div class="inputContainer">
        <input id="signInUsername" #u1 type="text" name="username" placeholder="Username" required autocomplete="off"/>
        <label for=username></label>
      </div>
      <div class="inputContainer">
        <input id="signInPassword" #p2 type="password" placeholder="Password"  required />
      <label for=password></label>
      </div>
      <div *ngIf="errors.length>0" class="ui error message" style="width: 100%;">
        <ul class="list">
          <li *ngFor="let error of errors">{{error}}</li>
        </ul>
      </div>
      <a (click)="forgotPassword()" style="cursor:pointer;font-weight: 400;color:#0066ff;"><span>Forgot your password</span></a>
      <div class="buttonCont">
        <button class="yellowBtn positive" type="submit">Sign In<i class="fa fa-fw fa-chevron-right"></i></button>
        <button class="blueBtn" (click)="createAccount()">Create account<i class="fa fa-fw fa-chevron-right"></i></button>
      </div>
    </form>
    
    <!-- <form [@itemAnim] action="" (ngSubmit)="signUp(phNumber.value,otp.value, pwd.value)" class="sign-up-contain" *ngIf="hideSignUp">
      -->


    <form [@itemAnim] action=""  class="sign-up-contain" *ngIf="hideSignUp">
        <h3><span>Sign up</span> to experience the most <br> efficient way of communication</h3>
        <div class="inputContainer">
          <input (keyup.enter)="nextInput($event)" id="phoneno" type="number" #phNumber placeholder="Mobile Number" autocomplete="off" required />
          <label for=phoneno></label>
        </div>
        <div class="inputContainer">
           <!-- <i *ngIf="otpIcon == 'true'" class="resendText spinner  loading icon"></i>
           <span *ngIf="otpIcon == 'true'" class="resendText">Wait 30s </span> -->
           <!-- <i class="resend redo icon"></i> -->
           <input disabled id="otp" type="text" #otp placeholder="Enter OTP" autocomplete="off" required />
           <label for=otp></label>
        </div>
        <div class="inputContainer">
            <div data-inverted="" class="passwordHelp" data-tooltip="Password should be minimum 8 characters and contain min 1 uppercase alphabet, 1 digit, 1 special character and 1 alpha-numeric character" data-variation="" data-position="left center">
                <i class="resendText question circle icon" style="cursor:pointer;"></i> 
            </div>
          <!-- <i class="resendText question circle icon" style="cursor:pointer;"></i> -->
          <input disabled id="password" #pwd type="password" placeholder="Enter Password" autocomplete="false" required />
         <label for=password></label>
        </div>
        <div *ngIf="errors1.length>0" class="ui error message" style="width: 100%;">
          <ul class="list">
            <li *ngFor="let error of errors1">{{error}}</li>
          </ul>
        </div>
        <div class="buttonCont">
          <button class="yellowBtn" (click)="signUp(phNumber.value,otp.value, pwd.value)">Sign Up<i class="fa fa-fw fa-chevron-right"></i></button>
          <button class="blueBtn" (click)="haveAccount()">Have an account<i class="fa fa-fw fa-chevron-right"></i></button>
        </div>
      </form>
</div>