.gridContainer{
    display: grid;
    grid-gap:10px 1rem;
    padding-top:100px;
    grid-template-columns: 15% 80%;
}
.header{
    background-color: #0066ff;
    padding: 5px 0 5px 5px;
    color:white;
    font-family: 'Quicksand', sans-serif; 
    font-weight: 600;
}


@media all and (max-width: 768px) {
    .mobileHide {
      display: none;
    }
    .gridContainer{
        display: block;
        margin:0 2%;
    }
  }
.content{
    background: white;
}