<app-navbar></app-navbar>
<div class="topHeader">Transactions</div>
<div class="basicTable">
    <table class="ui very basic table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Scheme</th>
            <th>Payment Method</th>
            <th>Transaction ID</th>
            <th>Collecting Agent</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2016-11-12</td>
            <td>Spectra Fortune, Plot No. 314</td>
            <td>11000</td>
            <td>EMI</td>
            <td>Cash</td>
            <td>586458456</td>
            <td>Raju Singh</td>
          </tr>
        </tbody>
      </table>
</div>

<footer></footer>