.topHeader{
    padding-top:100px;
    margin:0 12%;
    font-weight: bold;
    font-size:2em;
}
.basicTable{
    margin:50px 12%;
}
@media all and (max-width: 768px) {
     .topHeader{
        margin:0 2%;
        margin-bottom:40px;
        font-size:1.4em;
    }
}
