<app-navbar></app-navbar>
<div class="topHeader">Transactions</div>
<div class="projectContainer" >
  <!-- <span class="containerHeader">My Properties <div *ngIf="!newUserDisplay" class="ui green label">1</div></span> -->
      <!-- <div class="boxContainer boxContainerSelected">
        <div>
            <span><i class="city blue large icon" ></i>You have no owned properties</span>
            <br><div style="margin-left:28px;">Browse to stay up to date on price and status changes.</div>
            <br>
            <button routerLink="/projects"  style="margin-left:28px;margin-top:10px;" class="ui button blue">Browse Homes</button>
        </div>
        
        <div class="propContainer">
            <span style="font-weight: bold;"><i class="city blue large icon" ></i>Spectra Galaxy</span>
            <div class="propertyInfo">
                <span>Plot Number</span><span class="propertyInfoColor">214</span>
                <span>Passbook Number</span><span class="propertyInfoColor">3453453</span>
                <span>Property Worth</span><span class="propertyInfoColor">18 Cr.</span>
                <span>Facing</span><span class="propertyInfoColor">North Facing</span>
                <span>Plot Size</span><span class="propertyInfoColor">400 sqyd</span>
                <span>Next EMI</span><span class="propertyInfoColor">24th Aug 2019</span>
                <span>EMI Amount</span><span class="propertyInfoColor" >18000</span>
                <span>EMI's Remaining</span><span class="propertyInfoColor">24 months</span>
            </div>
           </div>
      </div>
      <div class="boxContainer ">
        <div class="propContainer">
            <span style="font-weight: bold;"><i class="city blue large icon" ></i>Viceroyce Residency</span>
            <div class="propertyInfo">
                <span>Plot Number</span><span class="propertyInfoColor">214</span>
                <span>Passbook Number</span><span class="propertyInfoColor">3453453</span>
                <span>Property Worth</span><span class="propertyInfoColor">18 Cr.</span>
                <span>Facing</span><span class="propertyInfoColor">North Facing</span>
                <span>Plot Size</span><span class="propertyInfoColor">400 sqyd</span>
                <span>Next EMI</span><span class="propertyInfoColor">24th Aug 2019</span>
                <span>EMI Amount</span><span class="propertyInfoColor" >18000</span>
                <span>EMI's Remaining</span><span class="propertyInfoColor">24 months</span>
            </div>
           </div>
      </div> -->
      <div style="width: 100%;">
          <form class="ui form">
              <div class="two fields">
                  <!-- <div class="field">
                      <label>Project Name</label>
                      <select name="projectName" [(ngModel)]="selectedValue" class="ui fluid dropdown">
                        <option value="">Project</option>
                        <option [ngValue]="project.id" *ngFor="let project of projectList">{{project.project_name}}</option>
                      </select>
                    </div> -->

                    <div class="field">
                      <label>Select Plot</label>
                      <select name="plotNumber" (change)="select($event)" [(ngModel)]="plotValue" class="ui fluid dropdown">
                        <option value=""></option>
                        <option [ngValue]="prop" *ngFor="let prop of props">{{prop.project_name}}  Plot No-{{prop.plot_no}}</option>
                      </select>
                    </div>

                    <!-- <div class="field">
                        <label>Plot Number</label>
                        <input type="text" name="allot_number" >
                    </div> -->
              </div>
              

              
              
        </form>
      </div>
</div>
<div class="basicTable">
    <table class="ui unstackable very basic table">
        <thead>
          <tr>
            <th>Date</th>
            <th class="tableMobile">Passbook Number</th>
            <th>Amount</th>
            <th>Cheque Number</th>
            <th>Payment Method</th>
            <th class="tableMobile">Transaction ID</th>
            <th>Transaction Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trans of transactionsList">
            <td>{{trans.bill_date}}</td>
            <td class="tableMobile">{{trans.passbook_no}}</td>
            <td>{{trans.amount_credited}}</td>
            <td>{{trans.cheque_no}}</td>
            <td>{{trans.payment_mode}}</td>
            <td class="tableMobile">{{trans.bill_no}}</td>
            <td>{{trans.transaction_status}}</td>
          </tr>
        </tbody>
      </table>
</div>

<footer></footer>