<app-navbar></app-navbar>
<div class="topHeader">Transactions</div>
<div class="projectContainer" >
      <div style="width: 100%;">
          <form class="ui form">
              <div class="two fields">
                    <div class="field">
                      <label>Select Plot</label>
                      <select id="selectPlot" name="plotNumber" (change)="select(plotValue)" [(ngModel)]="plotValue" class="ui fluid dropdown">
                        <option [ngValue]="prop" *ngFor="let prop of props">{{prop.project_name.capitalizeEachWord()}} Plot No-<b>{{prop.plot_no}}</b> Passbook-<b>{{prop.passbook_no}}</b></option>
                      </select>
                    </div>
              </div>
          </form>
          <div *ngIf="transactionsList !=null" style="margin-top:50px;" class="description"  >
              <div class="ui celled horizontal list">
                  <div class="item">
                      <div class="infoValue ui blue horizontal label" style="text-align: center;">₹ {{propDetails.actual_cost}}</div>
                      <div class="infoLabel">Beginning Balance</div>
                  </div>
                  <div class="item">
                      <div class="infoValue ui blue horizontal label" style="text-align: center;">₹ {{propDetails.total_paid}}</div>
                      <div class="infoLabel">Amount Paid</div>
                  </div>
                  <div class="item">
                      <div class="infoValue ui blue horizontal label" style="text-align: center;">₹ {{propDetails.total_payable}}</div>
                      <div class="infoLabel">Total Amount Due</div>
                  </div>
                  <div class="item">
                      <div class="infoValue ui blue horizontal label" style="text-align: center;">{{propDetails.installment_tenure}}</div>
                      <div class="infoLabel">Total EMI months</div>
                  </div>
                  <div class="item">
                      <div class="infoValue ui blue horizontal label" style="text-align: center;">{{propDetails.installment_tenure-propDetails.emi_num}}</div>
                      <div class="infoLabel">Remaining EMI's</div>
                  </div>
                  <div class="item">
                      <div class="infoValue ui blue horizontal label" style="text-align: center;">10th Oct 2019</div>
                      <div class="infoLabel">Next EMI</div>
                  </div>
                  <div class="item">
                    <div class="infoValue ui blue horizontal label" style="text-align: center;">₹ {{propDetails.installment_amount + propDetails.due_amount}}</div>
                    <div class="infoLabel">Upcoming EMI</div>
                </div>
              </div>
          </div>
      </div>
</div>
<div class="basicTable">
    <!-- very basic compact -->
    <table class="ui unstackable very basic small striped compact fixed  sortable   table">
        <thead>
          <tr>
            <th class="sorted ascending">Date</th>
            <th class="tableMobile">Passbook Number</th>
            <th class="sorted ascending">Amount</th>
            <th class="tableMobile">Cheque Number</th>
            <th class="sorted ascending">Payment Method</th>
            <th class="tableMobile">Transaction ID</th>
            <th class="sorted ascending">Transaction Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trans of transactionsList">
            <td>{{trans.bill_date}}</td>
            <td class="tableMobile">{{trans.passbook_no}}</td>
            <td>{{trans.amount_credited}}</td>
            <td class="tableMobile">{{trans.cheque_no}}</td>
            <td>{{trans.payment_mode}}</td>
            <td class="tableMobile">{{trans.bill_no}}</td>
            <td>{{trans.transaction_status}}</td>
          </tr>
        </tbody>
      </table>
</div>

<footer></footer>