<app-navbar></app-navbar>
<div class="firstView" *ngIf="newUserDisplay && !saveSearch">
  <img width="10%" src="assets/house_new.png">
  <span>Oops! No Activities Yet!</span>
  <span>Search for Properties Now</span>
  <!-- <button routerLink="/projects" class="ui button blue">Start Your Search</button> -->
    <div class="ui icon input" style="margin-top:50px;">
        <input (keyup.enter)="locationSearchEnter($event)" class="locationButton" [ngModel]="locationSelected" (ngModelChange)="locationSearch($event)" type="text" placeholder="Location">
        <i class="search large blue icon"></i>
    </div>
</div> 
<div class="container">
  <div>
      <span class="containerHeader">My Properties <div *ngIf="!newUserDisplay" class="ui green label">1</div></span>
      <div class="boxContainer">
        <div *ngIf="newUserDisplay">
            <span><i class="city blue large icon" ></i>You have no owned properties</span>
            <br><div style="margin-left:28px;">Browse to stay up to date on price and status changes.</div>
            <br>
            <button routerLink="/projects"  style="margin-left:28px;margin-top:10px;" class="ui button blue">Browse Homes</button>
        </div>
        
        <div *ngIf="!newUserDisplay" class="propContainer">
            <span style="font-weight: bold;"><i class="city blue large icon" ></i>Spectra Galaxy</span>
            <div class="propertyInfo">
                <span>Plot Number</span><span class="propertyInfoColor">214</span>
                <span>Passbook Number</span><span class="propertyInfoColor">3453453</span>
                <span>Property Worth</span><span class="propertyInfoColor">18 Cr.</span>
                <span>Facing</span><span class="propertyInfoColor">North Facing</span>
                <span>Plot Size</span><span class="propertyInfoColor">400 sqyd</span>
                <span>Next EMI</span><span class="propertyInfoColor">24th Aug 2019</span>
                <span>EMI Amount</span><span class="propertyInfoColor" >18000</span>
                <span>EMI's Remaining</span><span class="propertyInfoColor">24 months</span>
            </div>
            <button routerLink="/transactions" (mouseenter)="mouseHover($event)" (mouseleave)="mouseLeave($event)" class="ui basic tiny button blue manageButton">Transactions</button>
        </div>
      </div>
  </div>
  
  <div class="gridContainer">
    <div>
      <span class="containerHeader">Payments</span>
      <div class="boxContainer">
        <div *ngIf="newUserDisplay"><i class="wallet blue large icon" ></i>You have not completed any transactions</div>
        <div *ngIf="!newUserDisplay">
            <span style="font-weight: bold;"><i class="wallet blue large icon" ></i>Last Payment Received</span><span style="float: right;font-weight: bold;color:#0066ff;">₹ 15000</span><br>
            <div class="lastPaymentInfo">
                <span>on 28th Aug 2019</span>
                <span> for property <br><b>Spectra Galaxy, Plot No. 314</b></span>
                <br>
                <button (mouseenter)="mouseHover($event)" (mouseleave)="mouseLeave($event)" routerLink="/transactions"  style="margin-top:10px;" class="ui tiny basic button blue">All Transactions</button>
            </div>
        </div>
        <div class="ui divider"></div>
        <div *ngIf="!newUserDisplay" style="margin-top:10px;margin-bottom:10px;margin-left:28px;font-weight: bold;">Upcoming EMI's</div>
        <emi-date *ngIf="!newUserDisplay"></emi-date>
      </div>
    
    </div>
    <div>
      <span class="containerHeader">Latest Favorites</span>
      <div class="boxContainer">
        <div *ngIf="newUserDisplay && !saveSearch">
            <div><i class="like blue outline large icon" ></i>You have no favorites</div>
            <br><div  style="padding-left:28px;">Favorite homes while you browse to stay up to date on price and status changes.</div> 
        </div>
        <div *ngIf="!newUserDisplay || saveSearch">
            <div style="margin-bottom:10px;cursor: pointer;" routerLink="/projectDetail">
                <span style="font-weight: bold;"><i class="like blue outline large icon" ></i>Spectra Galaxy</span><span style="float:right;font-weight: bold;color:#0066ff">Hyderabad</span>
                <div class="favInfo">
                    <span>Property Worth</span><span class="propertyInfoColor">18 Cr. <span style="font-size:10px;">onwards</span></span>
                    <span>Year Built</span><span class="propertyInfoColor" >2017</span>
                </div>
            </div>
            <button (mouseenter)="mouseHover($event)" (mouseleave)="mouseLeave($event)" routerLink="/fav" style="margin-left:28px;" class="ui basic tiny button blue">My Favorites</button>
        </div>
      </div>
      <span class="containerHeader">Saved Searches</span>
      <div class="boxContainer">
        <div *ngIf="newUserDisplay && !saveSearch">
            <div><i class="search blue large icon" ></i>You have not saved any searches.</div>
            <br><div  style="margin-left:28px;">Get notifications when new homes that match your criteria hit the market.</div> 
        </div>
        
        <div *ngIf="!newUserDisplay || saveSearch">
            <div class="ui relaxed divided list">
                <div class="item" routerLink="/projects">
                  <i class="large search blue middle aligned icon"></i>
                  <div class="content">
                    <a class="header">Hyderabad</a>
                    <div class="description">Updated 10 mins ago</div>
                  </div>
                </div>
                <div class="item" routerLink="/projects">
                  <i class="large blue search middle aligned icon"></i>
                  <div class="content">
                    <a class="header">Bangalore</a>
                    <div class="description">Updated 22 mins ago</div>
                  </div>
                </div>
              </div>
            <button (mouseenter)="mouseHover($event)" (mouseleave)="mouseLeave($event)" routerLink="/fav"  style="margin-top:10px;margin-left:28px;" class="ui tiny basic button blue">My Saved Searches</button>
        </div>
      </div>
    </div>
  </div>
<footer></footer>
 </div>
 <div class="ui savedSearchPop popup bottom right transition hidden">
    <div class="savedSearchList" (click)="selectLocation($event)">
            <i class="clock blue outline icon"></i><span style="font-weight: 600;">Bangalore, KA</span>
    </div>
    <div  class="savedSearchList" (click)="selectLocation($event)">
            <i class="clock blue outline icon"></i><span style="font-weight: 600;">Hyderabad, TS</span>  
    </div>
    <div  class="currentLoc" (click)="selectLocation($event)">
            <i class="blue map marker alternate icon"></i><span style="font-weight: 600;">Current Location</span> 
    </div>
  </div>