
.info{
    text-align: right;
    margin-right:10px;
}




.toast-box{
    top:150px !important;
    margin-top:150px !important;
}
.firstView{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top:100px;
}
.firstView span{
    font-size:18px;
    font-weight: bold;
    margin:10px 0;
}
.container{
    padding-top:100px;
    /* margin:0 35% 0 2%; */
    margin:0 12%;
}
.containerHeader{
    margin-top:20px;
    margin-bottom:15px;
    display: inline-block;
    font-size:24px;
    font-weight: bold;
}
.boxContainer{
    background: white;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
  
    padding:10px;
    /* margin: 1rem 10px 0 10px; */
}
.propertyInfo{
    margin-left:28px;
    display: grid;
    grid-template-columns: 20% 20%;
}
.favInfo{
    display: grid;
    margin-left:28px;
    grid-template-columns: 40% 40%;
}
@media all and (max-width: 950px) {
    .propertyInfo{
        grid-template-columns: 30% 30%;
  }
}
@media all and (max-width: 600px) {
    .propertyInfo{
        grid-template-columns: 50% 50%;
  }
}
.propertyInfoColor{
    font-weight: bold;
}
.lastPaymentInfo{
    margin-left:28px;
}
.emiContainer{
    width:100%;
}
.gridContainer{
    /* display: grid;
    grid-template-columns: 48% 48%;
    grid-gap:0 4%; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gridContainer div{
    flex: 0 45%;
}

.header{
    color: #0066ff !important;
}
.propContainer{
    position: relative;
    margin-bottom:10px;
}
.manageButton{
    position: absolute ;
    right:0 ;
    bottom:0;
    
}
@media all and (max-width: 768px) {
    .gridContainer div{
        flex: 0 100%;
    }
    .manageButton{
        position: initial;
        margin-left:28px;
        margin-top:10px;
    }
    .container{
        padding-top:50px;
        margin:0 5%;
    }
}
.ui.green.label{
    vertical-align: middle;
}