<app-navbar></app-navbar>
   <!-- Floating Buttons -->
<div class="shareButton">
        <button (click)="addFavorite()" class="ui circular blue icon button">
            <i class="like icon"></i>
        </button>
        <button style="margin-top:10px;" class="ui circular blue icon button">
            <i class="share icon"></i>
        </button>
</div>
   <!-- Bottom Menu -->
<div class="bottomMenu">
    <button class="ui blue icon button">
        <i class="comment icon"></i> &nbsp;Chat
    </button>
    <div>
        <span>Schedule Tour</span>
        <span>Next Available: Today at 11:00 AM</span>
    </div>
</div>
<button class="ui basic blue large round button icon button">
    <i class="comment icon"></i> &nbsp;Chat
</button>
<div class="mainContainer">
        <!-- Top Info -->
        <div class="topInfo">
                <div class="propertyTypeIcon">
                        <i class="large city icon" style="color:white;"></i>
                </div>
                <div style="flex:1 0 auto;">
                    <div style="font-weight: bold;font-size:18px;">Spectra Galaxy</div>
                    <div style="font-size:12px;">Vijaywada, AP 500032</div>
                    <div style="font-size:12px;">Status: <span style="border-bottom: 1px dotted ;">Active</span>&nbsp;
                        <div class="ui blue rating" data-rating="2" data-max-rating="5"></div>
                    </div>
                </div>
                <div class="ui celled horizontal list">
                    <div class="item">
                        <div class="infoValue">Rs. 1.16 Cr</div>
                        <div class="infoLabel">Onwards Price</div>
                    </div>
                    <div class="item">
                        <div class="infoValue">3 & 4 BHK</div>
                        <div class="infoLabel">Flats</div>
                    </div>
                    <div class="item">
                        <div class="infoValue">1234-4000<span style="font-size: 14px;font-weight: 500;"></span></div>
                        <div class="infoLabel">Sq.Ft.</div>
                    </div>
                </div>
               
                <button class="ui blue button">Buy Plots</button>
              
            </div>
            <hr style="opacity: 0.3;">
            <!-- Detail View Menu -->
            <div class="ui pointing secondary demo menu secondaryMenu" style="border-bottom: none;justify-content: center;">
                <a class="active black item" data-tab="first">Overview</a>
                <a class="black item" data-tab="second">Property Details</a>
                <a class="black item" data-tab="third">Plot Details</a>
                <a class="black item" data-tab="fourth">Schools Nearby</a>
                <a class="black item" data-tab="fifth">3D Tour</a>
                <a class="black item" data-tab="sixth">Neighbourhood</a>
                <a class="black item" data-tab="seventh">Similar Properties</a>
            </div>
            
             
            <div class="gridContainer">
                    <div>
                         <!-- Overview -->  
                            <div class="ui active tab segment" data-tab="first">
                                    <div class="menuHeader">Overview</div>
                                    <div class="overviewImage">
                                        <div style="flex:1 0 auto;">

                                                <!-- Image Gallery -->
                                               <image-gallery></image-gallery>
                                            
                                            
                                                <div style="text-align: center;font-size:12px;">
                                                        Listing Provided By Spectra
                                                </div>
                                                <hr style="opacity: 0.3;">
                                        </div>
                                    </div>
                                    <div class="checkListOverview">
                                        <div><i class="large blue check circle outline icon"></i>&nbsp;Approved By:<b>GHMC</b></div>
                                        <div><i class="large blue check circle outline icon"></i>&nbsp;Total No. of floors:<b>G+8</b></div>
                                        <div><i class="large blue check circle outline icon"></i>&nbsp;Occupancy Certificate:<b>No</b></div>
                                        <div><i class="large blue check circle outline icon"></i>&nbsp;Total Units:<b>320</b></div>
                                        <div><i class="large blue check circle outline icon"></i>&nbsp;Available Units:<b>120</b></div>
                                        <div><i class="large blue check circle outline icon"></i>&nbsp;Project Area:<b>9 Acres</b></div>
                                        <div><i class="large blue check circle outline icon"></i>&nbsp;Total Towers:<b>8</b></div>
                                    </div>
                                    <p style="margin-top:20px;">
                                            Light and Bright Townhome with all the fun that Fremont offers! So many things to love; highlights include a spacious main level, lg windows, hardwood floors, skylights, gas fireplace w/ tile detail, & private patio!
                                    </p>
                                    <span style="font-weight: 500;color:#0066ff;">Approved By Banks :</span>
                                    <div class="bankList">
                                       <img src="https://property.magicbricks.com/mb-microsite/2/omsreesignet-omsreebuildersanddevelopers-secunderabad/images/bank/axis.jpg">
                                       <img src="https://property.magicbricks.com/mb-microsite/2/omsreesignet-omsreebuildersanddevelopers-secunderabad/images/bank/sbi.jpg">
                                    </div>
                                    <div style="font-weight: 500;color:#0066ff;margin-bottom:10px;">Downloads :</div>
                                    <div class="downloads">
                                            <a style="cursor: pointer;"><i class="large blue long arrow alternate down icon"></i><span style="color:#0066ff;font-weight: bold;">Download Brochure</span></a>
                                            <a style="cursor: pointer;"><i class="large blue long arrow alternate down icon"></i><span style="color:#0066ff;font-weight: bold;">Download Rera Certificate</span></a>
                                    </div>
                                </div>
                                <!-- Property Details -->
                                <div class="ui tab segment" data-tab="second">
                                    <div class="menuHeader">Property Details</div>
                                    <div class="keyDetailsList">
                                        <div class="keyDetail">
                                            <span class="header">Onwards Price</span>
                                            <span class="content">1.4 Cr</span>
                                        </div>
                                        <div class="keyDetail">
                                            <span class="header">Location</span>
                                            <span class="content">Khairatabad, Hyderabad</span>
                                        </div>
                                        <div class="keyDetail">
                                            <span class="header">Floors</span>
                                            <span class="content">12</span>
                                        </div>
                                        <div class="keyDetail">
                                            <span class="header">Type</span>
                                            <span class="content">Flats</span>
                                        </div>
                                        <div class="keyDetail">
                                            <span class="header">Lot Size</span>
                                            <span class="content">1184 Sq.Yd.</span>
                                        </div>
                                    </div>
                                    <span style="font-weight: 500;color:#0066ff;">Amenities: </span>
                                </div>
                                <!-- Plot Details -->
                                <div class="ui tab segment" data-tab="third">
                                        <div class="menuHeader">Plot Details</div>
                                </div>
                                <!-- Schools Nearby -->
                                <div class="ui tab segment" data-tab="fourth">
                                        <div class="menuHeader">Schools Nearby</div>
                                </div>
                                <!-- 3D Tour -->
                                <div class="ui tab segment" data-tab="fifth">
                                        <div class="menuHeader">3D Tour</div>
                                </div>
                                <!-- Neighbourhood -->
                                <div class="ui tab segment" data-tab="sixth">
                                        <div class="menuHeader">Neighbourhood Info for Spectra Galaxy</div>
                                        <span style="font-weight: 500;color:#0066ff;">Location Advantages :</span>
                                        <div class="ui bulleted list neighbourhoodList">
                                                <div class="item">Located near to Balanagar industrial area, abutting on Hyderabad – Bengaluru NH-7</div>
                                                <div class="item">Direct connectivity to Express Highway, Shadnagar Railway Station connecting Hyderabad to Shadnagar through MMTS</div>
                                                <div class="item">Connectivity to International Airport reachable in 30 minutes</div>
                                                <div class="item">Very close to the proposed Regional Ring Road (RRR)</div>
                                                <div class="item">Very close to Chinna Jeeyar Vedi University and many Engineering Colleges</div>
                                                <div class="item">Very close to all Multi National Companies like P & G, Johnson & Johnson, GVK Industries</div>
                                                <div class="item">Located in densely populated area besides Schools, Colleges, Market Yard, Banks and Hospitals</div>
                                        </div>
                                        <button (click)="openLocationMap()" class="ui blue basic button">Location Map</button>
                                        <button class="ui green basic button">Google Map</button>
                                        
                                </div>
                                <div class="ui tab segment" data-tab="seventh">
                                        <div class="menuHeader">Similar Properties</div>
                                        <div class="projects ui two stackable cards">
                                                <div class="card" *ngFor="let image of images">
                                                   <div class="image">
                                                        <div class="tagInfo">
                                                                <div class="ui red label">Posted: 04 Aug 2019</div>
                                                                <div class="ui blue label">Hyderabad</div>
                                                        </div>
                                                        <img routerLink="/projectDetail" style="cursor: pointer;" src={{image}}>
                                                   </div>
                                                   <div class="content">
                                                                <i class="right floated large black like outline icon"></i>
                                                                <i class="right floated large black share alternate icon"></i>
                                                                <a class="header" routerLink="/projectDetail" >Spectra Fortune</a>
                                                                <div style="margin-top:10px;" class="meta">
                                                                        <span>Built in 1997</span>
                                                                        <span class="right floated ui mini star yellow rating" data-rating="3" data-max-rating="5"></span>
                                                                </div>
                                                                <div class="description">
                                                                                <b>1397 Avg Sq.Ft <span style="float: right;color:#0066ff;"><i class="rupee sign icon"></i>15999</span></b>
                                                                                <br>
                                                                                <span>Kamineni Hospitals, Opp: Big Bazar, L.B.Nagar, Hyderabad, Telangana, India.</span>
                                                                        
                                                                </div>
                                                                <div class="meta">
                                                                        <span>Listing provided By Spectra</span>
                                                                </div>
                                                                
                                                   </div>
                                                </div>
                                             
                                        </div>
                                </div>
                    </div> 
                    <div class="grid2">
                            <div style="font-size:18px;font-weight: bold; letter-spacing: 1px;font-family: 'Quicksand', sans-serif; margin-bottom:10px;">Tour this Property</div>
                            <div style="width: 360px;position: relative;">
                                    <div class="leftArrowContainer" (click)="leftDate()">
                                        <div class="leftArrow disabled">
                                            <svg class="SvgIcon rfSvg slide-previous">
                                                <svg viewBox="0 0 24 24">
                                                    <g fill-rule="evenodd">
                                                        <path d="M16.426 23.134L5.074 11.78a.25.25 0 0 1 0-.353L16.426.073a.25.25 0 0 1 .355 0l1.06 1.06a.25.25 0 0 1 0 .355L7.724 11.603 17.841 21.72a.25.25 0 0 1 0 .355l-1.06 1.06a.25.25 0 0 1-.355 0"></path>
                                                    </g>
                                                </svg>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="rightArrowContainer" (click)="rightDate()">
                                        <div class="rightArrow">
                                            <svg class="SvgIcon rfSvg slide-next">
                                                <svg viewBox="0 0 24 24">
                                                    <g fill-rule="evenodd">
                                                        <path d="M7.134 23.134l-1.06-1.06a.25.25 0 0 1 0-.355L16.19 11.603 6.074 1.488a.25.25 0 0 1 0-.355l1.06-1.06a.25.25 0 0 1 .354 0L18.84 11.427a.25.25 0 0 1 0 .353L7.488 23.134a.25.25 0 0 1-.354 0"></path>
                                                    </g>
                                                </svg>
                                            </svg></div>
                                    </div>
                                        <div class="containerWindow">
                                            <div style="width: 625%; left: 0px;" class="itemContainer animate">
                                                <div class="itemsPage" role="radiogroup">
                                                    <button class="ldpGrayDayOptionContainer selectedDate" (click)="selectDate($event)">
                                                        <div class="dayOfTheWeek">Monday</div>
                                                        <div class="dayOfTheMonth">12</div>
                                                        <div class="month">Aug</div>
                                                    </button>
                                                    <button class="ldpGrayDayOptionContainer" (click)="selectDate($event)">
                                                        <div class="dayOfTheWeek">Tuesday</div>
                                                        <div class="dayOfTheMonth">13</div>
                                                        <div class="month">Aug</div>
                                                    </button>
                                                    <button class="ldpGrayDayOptionContainer" (click)="selectDate($event)">
                                                        <div class="dayOfTheWeek">Wednesday</div>
                                                        <div class="dayOfTheMonth">14</div>
                                                        <div class="month">Aug</div>
                                                    </button>
                                                    <button class="ldpGrayDayOptionContainer" (click)="selectDate($event)">
                                                        <div class="dayOfTheWeek">Thursday</div>
                                                        <div class="dayOfTheMonth">15</div>
                                                        <div class="month">Aug</div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            

                            <div class="grid2Button">
                                <button class="ui  green  button">Schedule Tour</button>
                                <button class="ui  blue button" (click)="addCoBuy()">Add co-buyer</button>
                            </div>
                            
                            <div style="opacity: 0.5;font-size:12px;">It's free, with no obligation — cancel anytime</div>
                            
                            <div style="color:#0066ff;margin-top:10px;">
                                <span style="cursor: pointer;">Ask A Question</span> 
                                <span class="vl"></span>
                                <span style="cursor: pointer;">(206) 429-8986</span>
                            </div>
                            <hr style="opacity: 0.3; z-index: 5;">
                            
                    </div>
            </div>
            
                        
</div>
<div class="ui modal coBuy" style="width: 350px; height: 350px;">
        <i class="close icon"></i>
        <div class="header">
          Add a co-buyer
        </div>
        <div class="content">
                <img style="width:100%;" src="../../../assets/co-buyer.png">
                <p>Get instant feedback from your co-buyer on your favorite homes and saved searches.</p>
                <div class="ui fluid input">
                        <input type="text" placeholder="Enter their email address...">
                </div>
        </div>
</div>
<div class="ui modal locationMap">
        <i class="close icon"></i>
        <img src="http://www.spectraindia.in/wp-content/uploads/2016/10/fortune_locationmap.jpg" style="width: 100%;margin-top:10px;">
</div>