<app-navbar></app-navbar>
<!-- Top Info -->
<div class="shareButton">
        <button class="ui circular blue icon button">
            <i class="like icon"></i>
        </button>
        <button style="margin-top:10px;" class="ui circular blue icon button">
            <i class="share icon"></i>
        </button>
</div>
<div class="bottomMenu">
    <button class="ui blue icon button">
        <i class="comment icon"></i> &nbsp;Chat
    </button>
    <div>
        <span>Schedule Tour</span>
        <span>Next Available: Today at 11:00 AM</span>
    </div>
</div>
<button class="ui basic blue large round button icon button">
    <i class="comment icon"></i> &nbsp;Chat
</button>
<div class="mainContainer">
        
        <div class="topInfo">
                <div class="propertyTypeIcon">
                        <i class="large city icon" style="color:white;"></i>
                </div>
                <div style="flex:1 0 auto;">
                    <div style="font-weight: bold;font-size:18px;">Spectra Galaxy</div>
                    <div style="font-size:12px;">Vijaywada, AP 500032</div>
                    <div style="font-size:12px;">Status: <span style="border-bottom: 1px dotted ;">Active</span>&nbsp;
                        <div class="ui blue star rating" data-rating="3" data-max-rating="5"></div>
                    </div>
                </div>
                <div class="ui celled horizontal list">
                    <div class="item">
                        <div class="infoValue">Rs. 79,999</div>
                        <div class="infoLabel">Average Price</div>
                    </div>
                    <div class="item">
                        <div class="infoValue">314</div>
                        <div class="infoLabel">Plots</div>
                    </div>
                    <div class="item">
                        <div class="infoValue">1234 <span style="font-size: 14px;font-weight: 500;">Sq.Ft.</span></div>
                        <div class="infoLabel">Average Sq.Ft.</div>
                    </div>
                </div>
               
                <button class="ui blue button">Buy Plots</button>
                
            </div>
            <hr style="opacity: 0.3;">
            <!-- Detail View Menu -->
            <div class="ui pointing secondary demo menu secondaryMenu" style="border-bottom: none;justify-content: center;">
                <a class="active black item" data-tab="first">Overview</a>
                <a class="black item" data-tab="second">Property Details</a>
                <a class="black item" data-tab="third">Tour Insights</a>
                <a class="black item" data-tab="fourth">Schools Nearby</a>
                <a class="black item" data-tab="fifth">Public Facts</a>
                <a class="black item" data-tab="sixth">Neighbourhood</a>
                <a class="black item" data-tab="seventh">Similar Properties</a>
            </div>
            
             
            <div class="gridContainer">
                    <div>
                         <!-- Overview -->  
                            <div class="ui active tab segment" data-tab="first">
                                    <div class="overviewImage">
                                        <div style="flex:1 0 auto;">
                                                <div style="background: #0066ff;height: 400px;opacity: 0.3;">
                                                    
                                                </div>
                                                <div style="text-align: center;font-size:12px;">
                                                        Listing Provided By Spectra
                                                </div>
                                                <hr style="opacity: 0.3;">
                                        </div>
                                    </div>
                                    <p style="margin-top:20px;">
                                            Light and Bright Townhome with all the fun that Fremont offers! So many things to love; highlights include a spacious main level, lg windows, hardwood floors, skylights, gas fireplace w/ tile detail, & private patio! The kitchen feat. abundant storage, stunning new quartz counters, SS appliances, & gleaming title backslash. Relax upstairs in the Master bedroom w/ en-suite & walk in closet! The 2 other bedrms have their own baths too! Close to SLU, The Burke-Gillman, Sunday Market, PCC, & HWY 99!
                                    </p>
                                </div>
                                <!-- Property Details -->
                                <div class="ui tab segment" data-tab="second">
                                    <div class="keyDetailsList">
                                        <div class="keyDetail">
                                            <span class="header">Baths</span>
                                            <span class="content">2 full, 2 partial</span>
                                        </div>
                                        <div class="keyDetail">
                                            <span class="header">Style</span>
                                            <span class="content">Townhouse, Craftsman</span>
                                        </div>
                                        <div class="keyDetail">
                                            <span class="header">County</span>
                                            <span class="content">King</span>
                                        </div>
                                        <div class="keyDetail">
                                            <span class="header">Property Type</span>
                                            <span class="content">Residential</span>
                                        </div>
                                        <div class="keyDetail">
                                            <span class="header">Community</span>
                                            <span class="content">Fremont</span>
                                        </div>
                                        <div class="keyDetail">
                                            <span class="header">Lot Size</span>
                                            <span class="content">1184 Sq.Ft.</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tour Insights -->
                                <div class="ui tab segment" data-tab="third">Tour Insights</div>
                                <div class="ui tab segment" data-tab="fourth">Schools Nearby</div>
                                <div class="ui tab segment" data-tab="fifth">Public Facts</div>
                                <div class="ui tab segment" data-tab="sixth">Neighbourhood</div>
                                <div class="ui tab segment" data-tab="seventh">Similar Properties</div>
                    </div> 
                    <div class="grid2">
                            <div style="font-size:18px;font-weight: bold; letter-spacing: 1px;font-family: 'Quicksand', sans-serif; margin-bottom:10px;">Tour this Property</div>
                            <button class="ui blue fluid button">Schedule Tour</button>
                            <div style="opacity: 0.5;font-size:12px;">It's free, with no obligation — cancel anytime</div>
                            
                            <div style="color:#0066ff;margin-top:10px;">
                                <span style="cursor: pointer;">Ask A Question</span> 
                                <span class="vl"></span>
                                <span style="cursor: pointer;">(206) 429-8986</span>
                            </div>
                            
                    </div>
            </div>
            
                        
</div>
