<app-navbar></app-navbar>
   <!-- Floating Buttons -->
<div class="shareButton">
        <button (click)="save($event)"  class="ui circular blue icon button">
            <i class="like icon"></i>
        </button>
        <button (click)="share()"  style="margin-top:10px;" class="ui circular blue icon button">
            <i class="share icon"></i>
        </button>
</div>
   <!-- Bottom Menu -->
<!-- <div class="bottomMenu">
    <button class="ui blue icon button">
        <i class="comment icon"></i> &nbsp;Chat
    </button>
    <div (click)="agentModal()">
        <span>Schedule Visit</span>
        <span>Next Available: Tommorow</span>
    </div>
</div> -->
<!-- <button class="ui basic blue large round button icon button">
    <i class="comment icon"></i> &nbsp;Chat
</button> -->
<div class="mainContainer">
        <!-- Top Info -->
        <div class="topInfo">
                <div class="propertyTypeIcon">
                        <i class="large city icon" style="color:white;"></i>
                </div>
                <div style="flex:1 0 auto;">
                    <div style="font-weight: bold;font-size:18px;">{{projectSelected.project_name}}</div>
                    <div style="font-size:12px;">{{projectSelected.project_name}}, {{projectSelected.state}} {{projectSelected.zipcode}}</div>
                    <div style="font-size:12px;">Status: <span style="border-bottom: 1px dotted ;">Active</span>&nbsp;
                        <div class="ui blue rating" data-rating="4" data-max-rating="5"></div>
                    </div>
                </div>
                <div class="ui celled horizontal list">
                    <div class="item">
                        <div class="infoValue">₹ {{project.min_amount*project.min_sqyards}}</div>
                        <div class="infoLabel">Onwards Price</div>
                    </div>
                    <div class="item">
                        <div class="infoValue">9 Acres<span style="font-size: 14px;font-weight: 500;"></span></div>
                        <div class="infoLabel">Total Area</div>
                    </div>
                    <div class="item">
                        <div class="infoValue">{{project.min_sqyards}}-{{project.min_sqyards}}<span style="font-size: 14px;font-weight: 500;"></span></div>
                        <div class="infoLabel">Sq.Yd.</div>
                    </div>
                </div>
                <span (click)="save($event)" class="actionButton"><i class="like outline blue icon"></i>{{saveText}}</span>
                <span (click)="share()" class="actionButton"><i class="external alternate icon"></i>Share</span>
                <button (click)="buyLink()" class="ui blue button">View Plots</button>
              
            </div>
            <hr style="opacity: 0.3;">
            <!-- Detail View Menu -->
            <div class="ui pointing secondary demo menu secondaryMenu" style="border-bottom: none;justify-content: center;">
                <a class="active black item" (click)="plotDetailsReset()" data-tab="first">Overview</a>
                <a class="black item" (click)="plotDetailsReset()" data-tab="second">Property Details</a>
                <a class="black item" (click)="plotDetails()" data-tab="third">Plot Details</a>
                <!-- <a class="black item" (click)="plotDetailsReset()" data-tab="fourth">Amenities</a> -->
                <!-- <a class="black item" (click)="plotDetailsReset()" data-tab="fifth">Video</a> -->
                <a class="black item" (click)="plotDetailsReset()" data-tab="sixth">Neighbourhood</a>
                <a class="black item" (click)="plotDetailsReset()" data-tab="seventh">Similar Properties</a>
            </div>
            
             
            <div class="gridContainer">
                    <div *ngIf="plotTab">
                            <div class="details">{{projectSelected.project_name}} Layout</div>
                            <div style="font-size:10px;color:#0066ff;margin-bottom:50px;">Click on the image to view plot details</div>
                            <div class="ui celled horizontal list">
                                    <div class="item">
                                        <div class="infoValue">9 Acres</div>
                                        <div class="infoLabel">Total Area</div>
                                    </div>
                                    <div class="item">
                                        <div class="infoValue">{{projectSelected.min_sqyards}}-{{projectSelected.max_sqyards}}<span style="font-size: 14px;font-weight: 500;"></span></div>
                                        <div class="infoLabel">Sq.Yd.</div>
                                    </div>
                                    <div class="item">
                                        <div class="infoValue">351<span style="font-size: 14px;font-weight: 500;"></span></div>
                                        <div class="infoLabel">Total Plots</div>
                                    </div>
                            </div>
                            
                            <div class="plotStatus">
                                    <div style="margin-bottom:10px;"><div class="ui green label" style="width:40px;text-align: center">351</div></div><div style="font-size:14px;font-weight: bold;padding:2px 0;"> Available</div>
                                    <div style="margin-bottom:10px;"><div class="ui blue label" style="width:40px;text-align: center">0</div></div><div style="font-size:14px;font-weight: bold;padding:2px 0;"> Partially Available</div>
                                    <div><div class="ui red label" style="width:40px;text-align: center">0</div></div><div style="font-size:14px;font-weight: bold;padding:2px 0;"> Sold</div>
                            </div>
                           
                    </div>
                    <div>
                         <!-- Overview -->  
                            <div class="ui active tab segment" data-tab="first">
                                    <div class="menuHeader">Overview</div>
                                    <div class="overviewImage">
                                        <div style="flex:1 0 auto;">

                                                <!-- Image Gallery -->
                                               <image-gallery></image-gallery>
                                            
                                            
                                                
                                                
                                        </div>
                                    </div>
                                    <div class="checkListOverview mobileTab">
                                            <div><i class="large blue check circle outline icon"></i>&nbsp;Standards:<b>ISO 9001-2008 </b></div>
                                            <div><i class="large blue check circle outline icon"></i>&nbsp;Total Units:<b>351</b></div>
                                            <div><i class="large blue check circle outline icon"></i>&nbsp;Available Units:<b>351</b></div>
                                            <!-- <div><i class="large blue check circle outline icon"></i>&nbsp;Project Area:<b>9 Acres</b></div>
                                            <div><i class="large blue check circle outline icon"></i>&nbsp;Onwards Price:<b>1.4 Cr</b></div> -->
                                            <div><i class="large blue check circle outline icon"></i>&nbsp;Location:<b>{{projectSelected.city}}</b></div>
                                            <div><i class="large blue check circle outline icon"></i>&nbsp;Type:<b>Plot</b></div>
                                    </div>
                                    <div style="clear: both"></div>
                                  
                                    <div class="subHeader">Approved By Banks :</div>
                                    <div class="bankList">
                                       <img src="https://property.magicbricks.com/mb-microsite/2/omsreesignet-omsreebuildersanddevelopers-secunderabad/images/bank/axis.jpg">
                                       <img src="https://property.magicbricks.com/mb-microsite/2/omsreesignet-omsreebuildersanddevelopers-secunderabad/images/bank/sbi.jpg">
                                    </div>
                                    <div  class="subHeader">Downloads :</div>
                                    <div class="downloads">
                                            <a download href="../../../assets/viceroyceBrochure.pdf" style="cursor: pointer;"><i class="large blue long arrow alternate down icon"></i><span style="color:#0066ff;">Download Brochure</span></a>
                                            <a style="cursor: pointer;"><i class="large blue long arrow alternate down icon"></i><span style="color:#0066ff;">Download Rera Certificate</span></a>
                                    </div>
                                </div>
                                <!-- Property Details -->
                                <div class="ui tab segment" data-tab="second">
                                    <div class="menuHeader">Property Details</div>
                                   <div class="ui bulleted list neighbourhoodList">
                                           <div class="item" *ngFor="let list of neighbourhoodList">{{list}}</div>
                                   </div>
                                </div>
                                <!-- Plot Details -->
                                <div  class="ui tab segment plotDetails" data-tab="third">
                                        <div class="menuHeader">Plot Details</div>
                                        <img (click)="buyLink()" id="image-map" src="assets/Asset 1.svg" style="cursor:pointer;" usemap="#image-map" >
                                      
                                </div>
                                <!-- Amenities -->
                                <div class="ui tab segment" data-tab="fourth">
                                        <!-- <div class="menuHeader">Amenities</div>
                                        <div class="propDetailsHeader">Generator</div>
                                            <div class="propDetailsInfo">Acoustic enclosed D.G. Set</div>
                                        <div class="propDetailsHeader">Plumbing</div>
                                            <div class="propDetailsInfo">All water supply lines in CPVC of ASTRAL / ASHIRVAD make. All drain lines shall be of PRICE / SUDHKAR PVC make. All the external / vertical plumbing shall be concealed</div>
                                        <div class="propDetailsHeader">Rain Water Harvesting</div>
                                            <div class="propDetailsInfo">The rainwater from the terrace & open areas will be collected through rainwater pipes, which will be discharged into the rainwater harvesting pits to recharge the under ground water</div>
                                        <div class="propDetailsHeader">Water supply</div>
                                            <div class="propDetailsInfo">All Pumps of reputed make</div>
                                        <div class="propDetailsHeader">External Lighting</div>
                                            <div class="propDetailsInfo">Light posts with lamp fitting, Energy saver lights for external Staircase and Corridor lighting</div>
                                        <div class="propDetailsHeader">Electrical</div>
                                            <div class="propDetailsInfo">1 TV Point in living room and Master Bed room, fire resistant electrical wiring of FINECAB or equivalent make. ANCHOR, ROMA modular electrical switches with MCB miniature circuit breaker in main distribution box in all flats. Telephone and internet points provided in living room and Master Bed Room. Electrical point for Mixer, Washing machine and 2 Nos. Split Air conditioner point provided per flat.</div>
                                        <div class="propDetailsHeader">Communication System</div>
                                            <div class="propDetailsInfo">Telephone points in all bedrooms & living room</div>
                                            <div class="propDetailsInfo">Three pair cable to all the units</div>
                                            <div class="propDetailsInfo">Provision for cable connection in all bed rooms and living rooms</div>
                                        <div class="propDetailsHeader">Lifts</div>
                                            <div class="propDetailsInfo">4 no’s of Lifts in each Block, Johnson / equivalent lifts of reputed make with V3F for energy Sufficiency</div>
                                        <div class="propDetailsHeader">Railing</div>
                                            <div class="propDetailsInfo">Staircase, Balcony and corridor railings shall be out of brickwork with SS hardrail</div>
                                        <div class="propDetailsHeader">Elevation</div>
                                            <div class="propDetailsInfo">Latest style with pergoals, decorative features, surface cladding and Texture paint</div>
                                        <div class="propDetailsHeader">Security</div>
                                            <div class="propDetailsInfo">24 hours</div>
                                        <div class="propDetailsHeader">Utilities/Wash</div>
                                            <div class="propDetailsInfo">Provision for washing machine</div> -->
                                </div>
                                <!-- Video -->
                                <!-- <div class="ui tab segment"data-tab="fifth">
                                        <div class="menuHeader">Video</div>
                                        
                                </div> -->
                                <!-- Neighbourhood -->
                                <div class="ui tab segment" data-tab="sixth">
                                        <div class="menuHeader">Neighbourhood Info for Viceroyce Residency</div>
                                        <div class="ui bulleted list neighbourhoodList">
                                                <div class="item" *ngFor="let list of neighbourhoodList">{{list}}</div>
                                        </div>
                                        <button (click)="openLocationMap()" class="ui blue tiny button">Location Map</button>
                                        <button (click)="openGMap()" class="ui blue tiny button">Google Map</button>
                                        
                                </div>
                                <div class="ui tab segment" data-tab="seventh">
                                        <div class="menuHeader">Similar Properties</div>
                                        <div class="projects ui two stackable cards" >
                                            <div class="card" *ngFor="let project of projects;" >
                                                    <div class="image">
                                                            <div class="tagInfo">
                                                                    <div class="ui blue label">Posted: {{project.created_at.substr(0, 10)}}</div>
                                                            </div>
                                                            
                                                            <span class="ratingFloat ui mini star blue rating" data-rating="3" data-max-rating="5"></span>
                                                            <img style="cursor: pointer;" src="assets/viceroyceIcon.png">
                                                    </div>
                                                    <div class="content">
                                                        <div id="projectName" style="width: 100%;" class="header">{{project.project_name}}</div>
                                                        <div style="margin-top:5px;" class="ui celled horizontal list">
                                                                <div class="item">
                                                                    <div class="infoValue">₹ {{project.min_amount*project.min_sqyards}}</div>
                                                                    <div class="infoLabel">onwards</div>
                                                                </div>
                                                                <div class="item">
                                                                    <div class="infoValue">{{project.min_sqyards}}-{{project.max_sqyards}}<span style="font-size: 14px;font-weight: 500;"></span></div>
                                                                    <div class="infoLabel">sqyd</div>
                                                                </div>
                                                        </div>
                                                        <div style="margin-top:10px;" class="meta">
                                                                <b>{{project.project_address}}<br>{{project.city}}, {{project.state}} {{project.zipcode}} </b>
                                                                <span style="float: right;"> 
                                                                <i class="circle icon green"></i>
                                                                <b>For Sale</b></span>
                                                        </div>
                                                        
                
                                                    </div>
                                            </div>
                    
                                        </div>
                                </div>
                    </div> 
                    
                    <!-- <div *ngIf="!plotTab" class="grid2">
                            <div style="font-size:18px;font-weight: bold; letter-spacing: 1px;font-family: 'Quicksand', sans-serif; margin-bottom:10px;">Explore this Property</div>
                            <div style="width: 360px;position: relative;">
                                    <div class="leftArrowContainer" (click)="leftDate()">
                                        <div class="leftArrow disabled">
                                            <svg class="SvgIcon rfSvg slide-previous">
                                                <svg viewBox="0 0 24 24">
                                                    <g fill-rule="evenodd">
                                                        <path d="M16.426 23.134L5.074 11.78a.25.25 0 0 1 0-.353L16.426.073a.25.25 0 0 1 .355 0l1.06 1.06a.25.25 0 0 1 0 .355L7.724 11.603 17.841 21.72a.25.25 0 0 1 0 .355l-1.06 1.06a.25.25 0 0 1-.355 0"></path>
                                                    </g>
                                                </svg>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="rightArrowContainer" (click)="rightDate()">
                                        <div class="rightArrow">
                                            <svg class="SvgIcon rfSvg slide-next">
                                                <svg viewBox="0 0 24 24">
                                                    <g fill-rule="evenodd">
                                                        <path d="M7.134 23.134l-1.06-1.06a.25.25 0 0 1 0-.355L16.19 11.603 6.074 1.488a.25.25 0 0 1 0-.355l1.06-1.06a.25.25 0 0 1 .354 0L18.84 11.427a.25.25 0 0 1 0 .353L7.488 23.134a.25.25 0 0 1-.354 0"></path>
                                                    </g>
                                                </svg>
                                            </svg></div>
                                    </div>
                                        <div class="containerWindow">
                                            <div style="width: 625%; left: 0px;" class="itemContainer animate">
                                                <div class="itemsPage" role="radiogroup">
                                                    <button class="ldpGrayDayOptionContainer selectedDate" (click)="selectDate($event)">
                                                        <div class="dayOfTheWeek">Monday</div>
                                                        <div class="dayOfTheMonth">12</div>
                                                        <div class="month">Aug</div>
                                                    </button>
                                                    <button class="ldpGrayDayOptionContainer" (click)="selectDate($event)">
                                                        <div class="dayOfTheWeek">Tuesday</div>
                                                        <div class="dayOfTheMonth">13</div>
                                                        <div class="month">Aug</div>
                                                    </button>
                                                    <button class="ldpGrayDayOptionContainer" (click)="selectDate($event)">
                                                        <div class="dayOfTheWeek">Wednesday</div>
                                                        <div class="dayOfTheMonth">14</div>
                                                        <div class="month">Aug</div>
                                                    </button>
                                                    <button class="ldpGrayDayOptionContainer" (click)="selectDate($event)">
                                                        <div class="dayOfTheWeek">Thursday</div>
                                                        <div class="dayOfTheMonth">15</div>
                                                        <div class="month">Aug</div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            

                            <div class="grid2Button">
                                <button (click)="agentModal()" class="ui  green  button">Schedule Visit</button>
                            </div>
                            
                            <div style="opacity: 0.5;font-size:12px;">It's free, with no obligation — cancel anytime</div>
                            
                            <div style="color:#0066ff;margin-top:10px;">
                                <span style="cursor: pointer;">Ask A Question</span> 
                                <span class="vl"></span>
                                <span style="cursor: pointer;">(040) 6464-6813</span>
                            </div>
                            <hr style="opacity: 0.3; z-index: 5;">
                    </div> -->
                    <div class="rightContent" *ngIf="!plotTab">
                        <div class="checkListOverview1">
                            <div><i class="large blue check circle outline icon"></i>&nbsp;Standards:<b>ISO 9001-2008 </b></div>
                            <div><i class="large blue check circle outline icon"></i>&nbsp;Total Units:<b>351</b></div>
                            <div><i class="large blue check circle outline icon"></i>&nbsp;Available Units:<b>351</b></div>
                            <!-- <div><i class="large blue check circle outline icon"></i>&nbsp;Project Area:<b>9 Acres</b></div>
                            <div><i class="large blue check circle outline icon"></i>&nbsp;Onwards Price:<b>1.4 Cr</b></div> -->
                            <div><i class="large blue check circle outline icon"></i>&nbsp;Location:<b>{{projectSelected.city}}</b></div>
                            <div><i class="large blue check circle outline icon"></i>&nbsp;Type:<b>Plot</b></div>
                        </div>
                        <div class="plotStatus">
                                <div style="margin-bottom:10px;"><div class="ui green label" style="width:40px;text-align: center">351</div></div><div style="font-size:14px;font-weight: bold;padding:2px 0;"> Available</div>
                                <div style="margin-bottom:10px;"><div class="ui blue label" style="width:40px;text-align: center">0</div></div><div style="font-size:14px;font-weight: bold;padding:2px 0;"> Partially Available</div>
                                <div><div class="ui red label" style="width:40px;text-align: center">0</div></div><div style="font-size:14px;font-weight: bold;padding:2px 0;"> Sold</div>
                        </div>
                       <button *ngIf="buttonEnable" style="margin-top:40px;" (click)="buyLink()" class="ui button yellow">Sign in to View Plots</button>
                       <button style="margin-top:40px;" routerLink="/help" class="ui button blue">Contact Us</button>
                </div>
            </div>
    <footer></footer>
</div>
<div class="ui modal coBuy" style="width: 350px; height: 350px;">
        <i class="close icon"></i>
        <div class="header">
          Add a co-buyer
        </div>
        <div class="content">
                <img style="width:100%;" src="../../../assets/co-buyer.png">
                <p>Get instant feedback from your co-buyer on your favorite homes and saved searches.</p>
                <div class="ui fluid input">
                        <input type="text" placeholder="Enter their email address...">
                </div>
        </div>
</div>
<div class="ui modal locationMap">
        <i class="close icon"></i>
        <img src="assets/locMap.png" style="width: 100%;margin-top:10px;">
</div>
<div class="ui modal googleMap">
    <i class="close icon"></i>
    <agm-map #map
                        [latitude]='lat' 
                        [longitude]='long'
                        [usePanning]="true" 
                        [disableDefaultUI]="false"
                        [zoom]="zoom" >
                        <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
    </agm-map>
</div>
<div class="ui modal shareModal" >
        <i class="close icon"></i>
        <div class="shareModalContainer">
            <h2>Email this project</h2>
            <form class="ui form">
                <div class="field">
                  <label>Recipient's email</label>
                  <input type="text" name="first-name" placeholder="Enter email">
                  <div style="padding-top:5px;">Separate multiple addresses with a comma.</div>
                </div>
                <div class="field">
                  <label>Your email</label>
                  <input type="email" name="last-name" value="charlis@saisanj.com">
                </div>
                <div class="field">
                  <label>Include message (optional)</label>
                  <textarea rows="2" placeholder="Check out this home I found on Spectra."></textarea>
                </div>
                <button (click)="sendMail()" class="ui blue button" type="submit">Send email</button>
            </form>
        </div>
</div>
<div class="ui modal agentModal">
    <i class="close icon"></i>
    <div class="header">
      Schedule a Meet Up
    </div>
    <div class="image content">
      <div class="ui medium image">
            <img src="https://s.zillowstatic.com/homepage/static/Buy_a_home.png"> 
      </div>
      <div class="description">
            <form style="padding: 0;" class="ui form">
              <div class="field">
                <label>Name</label>
                <input type="text" name="name" autocomplete="off">
              </div>
              <div class="field">
                <label>City</label>
                <input type="text" name="city" autocomplete="off">
              </div>
              <div class="field">
                <label>Contact Number</label>
                <input type="number" name="contact" autocomplete="off">
              </div>
              <div class="field">
                <label>Email</label>
                <input type="email" name="last-name" autocomplete="off">
              </div>
          </form>
      </div>
    </div>
    <div class="actions">
      <div class="ui positive right labeled icon button" (click)="allotAgent()" >
        Schedule
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
<div class="ui modal small modalSign">
  <i class="close icon"></i>
  <div class="container">
    <pop-up></pop-up>
  
  </div>
</div>