.mainContainer{
   margin:0 25px;
}
@media all and (max-width: 930px) {
    .mainContainer{
        margin:0 10px;
     }
}
.shareButton{
    display: none;
}
@media all and (max-width: 768px) {
    .shareButton{
        position: fixed;
        left:1px;
        display: flex;
        flex-direction: column;
        z-index: 5;
        top:300px;
    }
}
.circular.button{
    opacity: 0.8;
}
.circular.button:hover{
    opacity: 1;
}
.grid2Button{
    display: flex;
}
.grid2Button button{
    flex:1 0 auto;
}
.topInfo{
    display: flex;
    position: relative;
    color:#414143;
    align-items: center;
    padding-top:80px;
    justify-content: space-between;
}
@media all and (max-width: 450px) {
    .viewPlotButton{
        flex:1 0 auto;
        font-size: .78571429rem !important;
    }
}
.propertyTypeIcon{
    padding: 10px 8px;;
    border-radius: 5px;
    background: #0066ff;
    margin-right:5px;
    border: 2px solid #414143;
}
.secondaryMenu{
    position: sticky;
    top:56px;
    background: #F7F9FC !important;
    z-index: 2;
}
.round{
    border-radius: 500rem !important;
    position: fixed; bottom:10px;right:25px;
}
.propertyTypeIcon .icon{
    margin:0 !important;
}
.ui.celled.horizontal.list{
    flex:1 0 auto;
}
.grid2{
    display: flex;flex-direction: column;align-items: center; flex:1 0 auto;padding:0 20px;
}
@media all and (max-width: 800px) {
    .topInfo .ui.celled.horizontal.list, .round{
       display: none;
    }
}
@media all and (max-width: 930px) {
    .grid2{
       display: none;
    }
}
.infoLabel{
    text-align: center;font-size:12px;margin-top:10px;
}
.infoValue{
    text-align: center;font-weight: bold;font-size:18px;
}
.tab.segment{
    background: none !important; 
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
@media all and (max-width: 930px) {
    .ui.pointing.secondary.demo.menu{
      display: none;
    }
  }
.overviewImage{
    display: flex;
}
.vl {
    border-left: 1px solid rgba(65,65,67,0.5);
    margin:0 5px;
    height: 20px;
  }
.ui.segment{
    padding: 1em!important;
}
.gridContainer{
    /* display: grid; */
    margin:20px 25%;
}
@media all and (max-width: 930px) {
    .gridContainer{
        display: block;
        margin:0 20px 80px 20px;
    }
  }
  .details{
      font-size:18px;
      font-weight: bold;
  }
  .plotStatus{
    margin-top:50px;
    display: grid;
    grid-template-columns: 40px 50%;
    grid-gap:2% 5%;
  }
.bottomMenu{
    position: fixed;
    bottom:0;
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 5;
    background: white;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}
.subHeader{
    font-weight: bold;margin-top:20px;font-size:18px;color:#414143;
    margin-bottom:10px;
}

.propDetailsHeader{
    font-weight: bold;font-size:18px;
    margin-top:20px;
    color:#414143;
}
.propDetailsInfo{
    margin-left:20px;
    font-size:14px;
}
@media all and (max-width: 768px) {
    .subHeader, .propDetailsHeader{
      font-size:14px;
    }
  }
  @font-face {
    font-family: Poppins-Regular;
    src: url('../../../assets/Poppins-Regular.ttf'); 
  }
  .rightContent{
      margin-left:50px;
      margin-top:20px;
  }
  @media all and (max-width: 768px) {
    .rightContent{
        display: none;
    }
  }
.menuHeader{
    font-size:20px;
    font-weight: bolder;
    font-family: Poppins-Regular; 
    /* padding-bottom:20px; */
    padding:5px;
    margin-bottom:10px;
    background: #414143;
    /* background: #0066ff; */
    color:white;
    text-align: center;
    border-radius: 2px;
    /* border-left: 4px solid #0066ff; */
    /* background-image: linear-gradient(to right, rgba(0,102,255,0.6), rgba(255,255,255,0.2) 40%); */
}
@media all and (min-width: 931px) {
    .bottomMenu, .menuHeader{
      display: none;
    }
  }
.bottomMenu div{
    background: #2FCE72;
    border-radius:3px;
    color:white; 
    cursor: pointer;
    padding: 0 10px;
}
.bottomMenu div:hover, .bottomMenu div:active{
    background: green;
}
.bottomMenu span{
   display: block;
   text-align: center;
}
.bottomMenu span:nth-of-type(1){
    font-weight: 700;
}
.bottomMenu span:nth-of-type(2){
    font-size:12px;
}
.keyDetailsList{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.keyDetailsList .keyDetail{
    align-self: stretch;
    width: 100%;
    font-size:14px;
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
}
.keyDetail .header{
    color:grey;
}
.keyDetail .content{
    font-weight: bold;
}
@media all and (min-width: 600px) {
    .keyDetailsList .keyDetail {
        width: 40%;
    }
  }
.leftArrowContainer{
    left: 0;
    height: auto;
    position: absolute;
    z-index: 1;
}
.rightArrowContainer{
    right: 0;
    height: auto;
    position: absolute;
    z-index: 1;
}
.containerWindow {
    left: 25px;
    width: 310px;
    position: relative;
    overflow: hidden;
}
.ldpGrayDayOptionContainer div{
    pointer-events: none;
}
.selectedDate {
    border: 2px solid #0066ff !important;
    color: #585858 !important;
    padding: 0;
    box-shadow: 0 3px 4px 0 #ccc;
}
.itemContainer {
    position: relative;
}
.itemsPage {
    float: left;
    padding: 10px 0 15px;
    white-space: nowrap;
}
@media screen and (min-width: 900px){
    .ldpGrayDayOptionContainer {
        width: 70px;
        margin-left: 9px;
        margin-right: 2px;
    }
}
.ldpGrayDayOptionContainer {
    box-sizing: unset;
    font-size: .625rem;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    margin-right: 11px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    border-radius: 2px 2px 2px 2px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 80px;
    height: 80px;
    border: 1px solid #d1d1d1;
    padding: 1px;
    color: #777;
}
.ldpGrayDayOptionContainer .dayOfTheWeek {
    text-transform: uppercase;
    padding-top: 8px;
}
.ldpGrayDayOptionContainer .dayOfTheMonth {
    font-size: 1.75rem;
    font-weight: 200;
    text-align: center;
    vertical-align: top;
}
.ldpGrayDayOptionContainer .month {
    text-transform: uppercase;
    padding-bottom: 8px;
}
.rightArrow, .leftArrow {
    cursor: pointer;
    margin-top: 39px;
    fill: #999;
}
.rightArrow .rfSvg, .leftArrow .rfSvg{
    fill: inherit;
}
.SvgIcon {
    height: 30px;
    width: 30px;
}
.tagInfo{
    opacity: 0.7;
    position: absolute;
    top:10px;
    left:10px;
}
.checkListOverview1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-end;
}
.checkListOverview{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-end;
}
.checkListOverview div{
    width: 40%;
    align-self: stretch;
    padding: .5rem 0;
    display: flex;
}
.checkListOverview1 div{
    width: 60%;
    align-self: stretch;
    padding: .5rem 0;
    display: flex;
}
@media screen and (max-width: 670px){
    .checkListOverview div{
        width: 100%;
    }
}
.bankList img{
    margin:10px 10px 0 0;
    border-radius: 3px;
    border: solid 1px #eaeaea;
}
.downloads{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.downloads a{
    flex:1 0 auto;
}
@media screen and (max-width: 436px){
    .downloads a:last-of-type{
        margin-top:10px ;
    }
}
.neighbourhoodList .item{
    margin-top:10px;
    font-size:16px;
}
.modal .content{
    text-align: center !important;
}
.locationMap{
    width:  50% !important;
}
@media screen and (max-width: 930px){
    .locationMap{
        width:  68% !important;
    }
}
@media screen and (max-width: 768px){
    .locationMap{
        width:  95% !important;
    }
}
.googleMap{
    width:  50% !important;
}
agm-map {
    height: 90vh;
    width: 100%;
}
.marker{
    font-size:10px;
    font-weight: bold;
}
.actionButton{
    font-size:16px;
    margin-right:10px;
    cursor: pointer;
    color:#0066ff;
    font-weight: bold;
}
.shareModal{
    width: 400px !important;
}
@media screen and (max-width: 500px){
    .shareModal{
        width: 80% !important;
    }
}
.mobileTab{
    display: none;
}
@media screen and (max-width: 768px){
    .actionButton{
       display: none;
    }
    .mobileTab{
        display: initial;
    }
}
.shareModalContainer{
    padding:15px;
}
.shareModalContainer label{
    font-size:14px;
}
.tagInfo{
    opacity: 0.7;
    position: absolute;
    top:10px;
    left:10px;
  }
  .rightFloated{
    position: absolute;
    right:10px;
    top:10px;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.5s; 
   }
   .ratingFloat{
    position: absolute;
    bottom:10px;
    right: 10px;
  }
  .projects .header{
    line-height: 0 !important;
    display: inline !important;
  }
  .projects{
      margin-top:10px;
  }
  .priceInfo{
    float: right;
    font-weight: bold;
  }
  .onwards{
    color:#414143;
    font-size:8px;
    font-weight: normal;
  }
  .red{
    /* color: red !important; */
  }
  .agentModal{
	width: 50% !important;
}
@media all and (max-width: 768px) {
	.agentModal{
		width: 80% !important;
	}
	.agentModal .medium.image{
		display: none;
	}
}
.agentModal label{
    text-align: left;
}
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    /* width: 850px; */
    max-width: 100%;
    height: 570px;
  }
  @media all and (max-width: 768px) {
    .container {
      /* height: 95vh; */
      min-height: 450px;
    }
  }
  
  .infoValue{
    text-align: center;font-weight: bold;font-size:16px;
    /* color:#0066ff; */
  }
  
  .infoLabel{
    text-align: center;font-size:12px;margin-top:10px;
  }