<div class="container">
	
        <div class="feature">
            <figure class="featured-item image-holder r-3-2 transition"></figure>
        </div>
        
        <div class="gallery-wrapper">
            <div class="gallery">
                    <div class="item-wrapper">
                        <figure (click)="selectItem($event)" class="gallery-item image-holder r-3-2 active transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure (click)="selectItem($event)" class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure (click)="selectItem($event)" class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure (click)="selectItem($event)" class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure (click)="selectItem($event)" class="gallery-item image-holder r-3-2"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure (click)="selectItem($event)" class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure (click)="selectItem($event)" class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure (click)="selectItem($event)" class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure (click)="selectItem($event)" class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure (click)="selectItem($event)" class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
            </div>
        </div>
        
        <div class="controls">
            <button class="move-btn left" (mouseenter)="moveLeft()" (mouseleave)="stopMovement()">Prev</button>
            <button class="move-btn right" (mouseenter)="moveRight()" (mouseleave)="stopMovement()">Next</button>
        </div>
        
    </div>