<div class="body">
    <div style="color:white;font-size:32px;text-align: center;font-weight:bolder;padding-top:50px;margin-bottom:30px;">Reset Password Form</div>
    <div class="container">
        <span style="color:#0066ff;font-size:28px;font-weight:bolder;">Forgot Password</span>
        <span style="word-wrap: break-word; text-align: center;">Check your email address to reset your password</span>
        <div class="ui input" style="width:80%;">
            <input type="text" placeholder="Enter your email address">
        </div>
        <button class="ui blue button" routerLink="/">
            Reset my Password
        </button>
    </div>
    <div class="bottomText" >©2019. All Rights Reserved | Powered By Marketfront</div>
</div>