
.compContainer{
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
}
.mapContainer{
  width: 40%;
}

.menu{
  padding-top: 56px;
  padding:66px 10px 10px 10px;
  border-bottom: 1px solid rgba(39, 39, 39, 0.2);; 
  background: #fff;
}
.menu > *{
  margin:0 5px;
}
.info{
  margin-top:20px;
  padding:0 15px;
  border-bottom: 1px solid rgba(39, 39, 39, 0.2);
}
.errorContent{
  background: #FFF8E1;
  margin:10px 0;
  border: 1px solid #E96E2F;
  padding: .5em;
}

.basicButton{
  color:#0066ff !important;
  font-weight: bold !important;
}
.mapButton{
  color:#0066ff ;
  font-weight: bold !important;
}
/* .basicButton:focus{
  color:white !important;
  background: #0066ff !important;
} */
.priceInfo{
  /* float: right; */
  font-weight: bold;
}
.onwards{
  color:#414143;
  font-size:10px;
  font-weight: normal;
}
.priceInput{
  display: flex;
  margin-top:10px;
}
.actionButton{
  font-size:16px;
  cursor: pointer;
  float:right;
}
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  /* width: 850px; */
  max-width: 100%;
  height: 570px;
}
@media all and (max-width: 768px) {
  .container {
    /* height: 95vh; */
    min-height: 450px;
  }
}
.savedSearchPop{
  padding: 0 0 !important;
  border-radius: 0 !important;
}
.savedSearchList{
  padding:10px;
  cursor: pointer;
  width:200px;
  border-bottom:1px solid grey;
}
.savedSearchList > * {
  pointer-events: none;
}
.savedSearchList:hover, .currentLoc:hover{
  color:#0066ff;
  cursor: pointer;
}
.currentLoc{
  padding:10px;
  width:200px;
}
.currentLoc > *{
  pointer-events: none;
}
.marginLeft{
  /* margin:10px 50px 10px 20px; */
  display: grid;
  grid-template-columns: 40% 50%;
}
.marginLeftGrid{
  /* margin:10px 50px 10px 20px; */
  display: grid;
  grid-template-columns: 50% 50%;
}
.marginBottom{
  margin:5px 0;
  display: block !important;
}
.projectContainer{
  box-shadow: 0px 4px 4px rgba(39, 39, 39, 0.7);
  width: 60%;
  overflow: auto;
  /* scroll-snap-type: proximity; */
  /* display: flex;
  flex-direction: column; */
  margin-bottom:110px;
  background: #fff;
}
.mobileFilter{
  box-shadow: 0px 4px 4px rgba(39, 39, 39, 0.7);
  width: 60%;
  overflow: auto;
  scroll-snap-type: proximity;
  display: flex;
  flex-direction: column;
  margin-bottom:110px;
  background: #fff;
}
@media all and (max-width: 1000px) {
  .compContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }
  /* .mapContainer{
    width: 100%;
    height: 100%;
  } */
  
  .projectContainer{
    width: 100%;
    /* display: none; */
  }
}
@media all and (min-width: 1001px) {
  .mapButton{
    display: none;
  }
}
.mapContainerMobile{
  width: 100%;
  height: 100%;
}
@media all and (max-width: 1055px) {
  h3{
    display: block;
  }
}

.projects{
  /* padding:20px; */
  margin:0 !important;
}
@media all and (max-width: 460px) {
  .projects{
    margin:58px 0 58px 0 !important;
  }
}
@media all and (max-width: 768px) {
  .projects{
    margin:24px 0 24px 0 !important;
  }
}



.activeProperty{
  background-color: #0066ff !important;
}
.checkBox{
  margin-top:10px;
}

@media all and (max-width: 560px) {
  .ui.compact .dropdown.icon{
    padding: 0.55em !important;
  }
}
.red{
  color: red !important;
}
@media all and (max-width: 402px) {
  .sortDrop{
    padding: 12px 0;
    margin-left:0px !important;
  }
}
@media all and (max-width: 560px) {
  .clearButton{
    display: none;
  }
}
.mapProjectHeader{
  font-size:12px;font-weight: bold;cursor: pointer;
}
.mapProjectHeader:hover{
  color:#0066ff;
}
  

  
  .filt{
    margin-left:40px;
    margin-right:5px;
  }
  
  .multiple{
    margin-top:20px;
  }
  .image{
    position: relative;
  }
  .tagInfo{
    opacity: 0.7;
    position: absolute;
    top:10px;
    width: 95%;
    left:10px;
  }
  .rightFloated{
   position: absolute;
   right:10px;
   top:10px;
   opacity: 0.8;
   cursor: pointer;
   transition: all 0.5s; 
  }
  .ratingFloat{
    position: absolute;
    bottom:10px;
    right: 10px;
  }
  .header{
    /* line-height: 0 !important; */
    /* display: inline !important; */
  }
  .noResultText{
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size:24px;
  }
  .dropDownSearch{
    font-weight: bold !important;
    width:80%;
  }
  @media all and (max-width: 768px) {
    .dropDownSearch{
      width:100%;
    }
  }

  .editable{
    width: auto !important;
    border:none !important;
    outline:none !important;
    width: 100% !important;
    background:transparent !important;
    float:left;
    padding:6px;
    color:#414143;
    margin-bottom:0;
    font-size:1.5em !important;
    font-weight: bold;
 }
.filterMobile{
  display: none;
}
@media all and (max-width: 768px) {
  .menu1{
    margin-top:10px;
  }
  .statusButton, .priceButton, .bedsButton, .homeButton, .clearButton{
    display: none;
  }
  .filterMobile{
    display: block;
    padding: 5px 0;
    font-weight: bold;
    float: right;
  }
}
agm-map{
  height: 100%;
  width: 100%;
}


.priceListGrid{
  display: grid;
  margin-top:10px;
  grid-template-columns: 50% 50%;
  grid-gap: 0 9.5px;

}
.priceListGrid .ui.list{
  margin:0 !important;
}
.priceListGrid .ui.list .item{
  margin:5px 0!important;
}
.priceListGrid .ui.list .item:hover{
  color:#0066ff;
}
.priceListGrid .ui.list .item .icon{
  opacity: 0.8;
}
.priceListGrid .ui.list .item{
  cursor: pointer;
}
.moreHeader{
  font-size:16px;
  font-weight: bold;
  padding:5px 0;
}
.infoValue{
  text-align: center;font-weight: bold;font-size:16px;
  /* color:#0066ff; */
}

.infoLabel{
  text-align: center;font-size:12px;margin-top:10px;
}