<app-navbar></app-navbar>

<div class="compContainer">
    <div class="mapContainer">
        <div style="position: sticky;top:0;z-index:2;">
                <div class="padTop">
                        <span class="sectionHeader">
                            Available Projects
                        </span>
                        <div class="container" >
                                <input type="text" class="input" placeholder="Search">
                                <i (click)="expandSearch()" *ngIf="iconSearch" class="fitted search icon" style="color:#0066ff; cursor: pointer;"></i>
                                <i (click)="cancel()" *ngIf="!iconSearch" class="fitted cancel icon" style="color:#0066ff; cursor: pointer;"></i>
                        </div>
                        
                    </div>
                    <button class="ui green button pop" style="float:right;margin-right:2%;margin-top:15px;">Meet an Agent</button>
                    <button class="ui blue button pop" style="float:right;margin-right:2%;margin-top:15px;">Affordability Calculator</button>
                    <button class="ui blue button pop" style="float:right;margin-right:2%;margin-top:15px;">Mortgage Rate Calculator</button>
                   
        </div>
           
    </div>
    <div class="projectContainer">
        <div class="topContainer">
            <div class="menu1">
                    <h2>Hyderabad Real Estate</h2>
                    <div class="projectList upcoming" (click)="changeToUpcoming()">Upcoming</div>
                    <div class="projectList listing activeProject" (click)="changetoListing()">Listings</div>
                    <div style="clear: both;"></div>
            </div>
            
            <div class="plotHeader">
                <div class="priceMargin">Price</div>
                <div class="ui compact selection dropdown dropDown" style="width: 120px;">
                        <input type="hidden" name="gender">
                        <i class="dropdown icon"></i>
                        <div class="default text">Min</div>
                        <div class="menu">
                        <div class="item" data-value="1">1 cr.</div>
                        <div class="item" data-value="1">2 cr.</div>
                        <div class="item" data-value="0">3 cr. </div>
                        <div class="item" data-value="0">4 cr. </div>
                        <div class="item" data-value="0">5 cr. </div>
                        <div class="item" data-value="0">6 cr. </div>
                        <div class="item" data-value="0">7 cr. </div>
                        <div class="item" data-value="0">8 cr. </div>
                        <div class="item" data-value="0">9 cr. </div>
                        <div class="item" data-value="0">10 cr. </div>
                        </div>
                </div>
                &nbsp;to&nbsp;
                <div class="ui compact selection dropdown dropDown" style="width: 120px;">
                        <input type="hidden" name="gender">
                        <i class="dropdown icon"></i>
                        <div class="default text">Max</div>
                        <div class="menu">
                        <div class="item" data-value="1">1 cr.</div>
                        <div class="item" data-value="1">2 cr.</div>
                        <div class="item" data-value="0">3 cr. </div>
                        <div class="item" data-value="0">4 cr. </div>
                        <div class="item" data-value="0">5 cr. </div>
                        <div class="item" data-value="0">6 cr. </div>
                        <div class="item" data-value="0">7 cr. </div>
                        <div class="item" data-value="0">8 cr. </div>
                        <div class="item" data-value="0">9 cr. </div>
                        <div class="item" data-value="0">10 cr. </div>
                        </div>
                </div>
                <div class="moreFilter" >
                        <i (click)="moreFilter()" class="funnel dollar large icon filterIcon"></i>
                        <span class="filterDesktop" (click)="moreFilter()" *ngIf="!filterTrue">Filters<i class="angle down icon marginRight"></i></span>
                        <span class="filterDesktop" (click)="moreFilter()" *ngIf="filterTrue">Filters<i class="angle up icon marginRight"></i></span>
                        <span (click)="triggerPropertyView()" class="clearButton">Clear</span>
                </div>
                <!-- <div class="moreFilter1"><span>Clear</span></div> -->
                <!-- <span style="font-size:13px;float:left;margin-top:15px;margin-left:15px;">Filter by location: Location - Hyderabad</span>
                <div style="clear: both;"></div> -->
            </div> 
            <div class="displayInfo">
                <span style="display:inline-block;padding:12px;font-weight: 600;color:#414143;font-size:12px;">Showing 21 out of 2107 Projects</span>
                <!-- <span style="color:#414143;"><i class="sort amount down icon"></i>Sort</span> -->

                <div class="ui pointing dropdown" style="color:#414143;">
                      <i class="sort amount down icon" ></i>
                      <span>Sort</span>
                      <div class="right menu">
                            <a class="item">Recommended</a>
                            <a class="item">Price</a>
                            <a class="item">Rating</a>
                            <a class="item">Square Yards</a>
                            <a class="item">Newest First</a>
                            <a class="disabled item">Upcoming</a>
                            
                      </div>
                  </div>


                <div data-inverted="" (click)="triggerView()" class="viewMode" data-tooltip="Thumbnail" data-variation="" data-position="bottom right">
                        <i class="th black large icon" style="cursor:pointer;"></i>
                </div>
                <div data-inverted="" (click)="triggerView()" class="viewMode" style="cursor:pointer;" data-tooltip="List" data-variation="" data-position="bottom right">
                        <i class="list black large icon"></i>
                </div>

                <div style="clear: both;"></div>
            </div>
        </div>
        <div class="filterMenu" >
            <span class="filterHeader">Property Type</span>


            <div class="ui large icon buttons" style="width:25%;margin-top:20px;">
                    <div (click)="toggleActive($event)" class="ui vertical animated activeProperty black fluid button" tabindex="0">
                            <div class="hidden content hiddenContent" style="pointer-events: none"><i class="home icon"></i></div>
                            <div class="visible content visibleContent" style="pointer-events: none">Plots</div>
                    </div>
                    <div (click)="toggleActive($event)" class="ui vertical animated black fluid button" tabindex="0">
                            <div class="hidden content hiddenContent" style="pointer-events: none"><i class="city icon"></i></div>
                            <div class="visible content visibleContent" style="pointer-events: none">Apartments</div>
                    </div>
                    <div (click)="toggleActive($event)" class="ui vertical toggle animated black fluid button" tabindex="0">
                            <div class="hidden content hiddenContent" style="pointer-events: none"> <i class="place of worship icon"></i></div>
                            <div class="visible content visibleContent" style="pointer-events: none">Villas</div>
                    </div>
                    <div (click)="toggleActive($event)" class="ui vertical animated black fluid button" tabindex="0">
                            <div class="hidden content hiddenContent" style="pointer-events: none"><i class="building icon"></i></div>
                            <div class="visible content visibleContent" style="pointer-events: none">Builder</div>
                    </div>
            </div>

           
            <span class="filterHeader">Listing Status</span>
            <div class="ui toggle  checkbox" style="margin-top:20px;">
                    <input checked type="checkbox" name="public">
                    <label>For Sale/Sold</label>
            </div>
            <hr style="margin-top:20px;">
            <span class="filterHeader">Property Facts</span>
            <div class="propertyFlex1">
                        <div class="ui basic button multiple search selection dropdown">
                            <input type="hidden" name="day">
                            <div class="default text" style="width: 100%;">Square Yards</div>
                            <i class="angle down icon floatRightDrop"></i>
                            <div class="menu">
                                <div class="item" data-value="1">1</div>
                                <div class="item" data-value="2">2</div>
                                <div class="item" data-value="3">3</div>
                                <div class="item" data-value="4">4</div>
                                <div class="item" data-value="5">5</div>
                                <div class="item" data-value="6">6</div>
                                <div class="item" data-value="7">7</div>
                                <div class="item" data-value="8">8</div>
                                <div class="item" data-value="9">9</div>
                                <div class="item" data-value="10">10</div>
                                <div class="item" data-value="11">11</div>
                            </div>
                        </div>
                        <div class="ui basic button multiple search selection dropdown">
                                <input type="hidden" name="day" >
                                <div class="default text" style="width: 100%;">Lot Size</div>
                                <i class="angle down icon floatRightDrop"></i>
                                <div class="menu">
                                    <div class="item" data-value="1">1</div>
                                    <div class="item" data-value="2">2</div>
                                    <div class="item" data-value="3">3</div>
                                    <div class="item" data-value="4">4</div>
                                    <div class="item" data-value="5">5</div>
                                    <div class="item" data-value="6">6</div>
                                    <div class="item" data-value="7">7</div>
                                    <div class="item" data-value="8">8</div>
                                    <div class="item" data-value="9">9</div>
                                    <div class="item" data-value="10">10</div>
                                    <div class="item" data-value="11">11</div>
                                </div>
                            </div>
                            <div class="ui basic button multiple search selection dropdown">
                                    <input type="hidden" name="day">
                                    <div class="default text" style="width: 100%;">Year Built</div>
                                    <i class="angle down icon floatRightDrop"></i>
                                    <div class="menu">
                                        <div class="item" data-value="1">2019</div>
                                        <div class="item" data-value="2">2018</div>
                                        <div class="item" data-value="3">2017</div>
                                        <div class="item" data-value="3">2016</div>
                                        <div class="item" data-value="3">2015</div>
                                        <div class="item" data-value="4">2014</div>
                                        <div class="item" data-value="5">2013</div>
                                        <div class="item" data-value="1">2012</div>
                                        <div class="item" data-value="2">2011</div>
                                        <div class="item" data-value="3">2010</div>
                                        <div class="item" data-value="3">2009</div>
                                        <div class="item" data-value="3">2008</div>
                                        <div class="item" data-value="6">2007</div>
                                        <div class="item" data-value="7">2006</div>
                                        <div class="item" data-value="8">2005</div>
                                        <div class="item" data-value="9">2004</div>
                                        <div class="item" data-value="10">2003</div>
                                        <div class="item" data-value="11">2002</div>
                                        <div class="item" data-value="11">2001</div>
                                        <div class="item" data-value="11">2000</div>
                                        <div class="item" data-value="11">1995</div>
                                        <div class="item" data-value="11">1990</div>
                                        <div class="item" data-value="11">1985</div>
                                        <div class="item" data-value="11">1980</div>
                                    </div>
                                </div>
            </div>

            <hr style="margin-top:20px;">

            <span class="filterHeader">Amenities</span>

            <div class="propertyFlex">
                    <div class="ui basic button multiple search selection dropdown">
                            <input type="hidden" name="day" >
                            <div class="default text" style="width: 100%;">Parking Spaces</div>
                            <i class="angle down icon floatRightDrop"></i>
                            <div class="menu">
                                <div class="item" data-value="1">1+</div>
                                <div class="item" data-value="2">2+</div>
                                <div class="item" data-value="3">3+</div>
                                <div class="item" data-value="3">4+</div>
                                <div class="item" data-value="3">5+</div>
                            </div>
                        </div>
                        <div class="ui basic button multiple search selection dropdown">
                                <input type="hidden" name="day">
                                <div class="default text" style="width: 100%;">Stories</div>
                                <i class="angle down icon floatRightDrop"></i>
                                <div class="menu">
                                    <div class="item" data-value="1">1</div>
                                    <div class="item" data-value="2">2</div>
                                    <div class="item" data-value="3">3</div>
                                    <div class="item" data-value="3">4</div>
                                    <div class="item" data-value="3">5</div>
                                    <div class="item" data-value="4">6</div>
                                    <div class="item" data-value="5">7</div>
                                    <div class="item" data-value="1">8</div>
                                    <div class="item" data-value="2">9</div>
                                    <div class="item" data-value="3">10</div>
                                    <div class="item" data-value="3">15</div>
                                    <div class="item" data-value="3">20</div>
                                    <div class="item" data-value="3">30</div>
                                </div>
                        </div>

                </div>
                <div class="gridAmenities">
                        <div style="display: flex;flex-direction: column;">
                                <div class="ui checkbox checkBox">
                                        <input type="checkbox" tabindex="0" class="hidden">
                                        <label>Swimming Pool</label>
                                </div>
                                <div class="ui checkbox checkBox">
                                        <input type="checkbox" tabindex="0" class="hidden">
                                        <label>Pavement</label>
                                </div>
                                <div class="ui checkbox checkBox">
                                        <input type="checkbox" tabindex="0" class="hidden">
                                        <label>Fountain Park</label>
                                </div>
                                <div class="ui checkbox checkBox">
                                        <input type="checkbox" tabindex="0" class="hidden">
                                        <label>Disabled Friendly</label>
                                </div>
                        </div>
                        <div style="display: flex;flex-direction: column;">
                                <div class="ui checkbox checkBox">
                                        <input type="checkbox" tabindex="0" class="hidden">
                                        <label>View</label>
                                </div>
                                <div class="ui checkbox checkBox">
                                        <input type="checkbox" tabindex="0" class="hidden">
                                        <label>Shopping</label>
                                </div>
                                <div class="ui checkbox checkBox">
                                        <input type="checkbox" tabindex="0" class="hidden">
                                        <label>Children's Park</label>
                                </div>
                                <div class="ui checkbox checkBox">
                                        <input type="checkbox" tabindex="0" class="hidden">
                                        <label>Garden</label>
                                </div>
                        </div>
                </div>
                
            <hr style="margin-top:20px;">
            <div class="footer">
                <span class="ui blue tertiary button" style="font-size:15px;">Reset</span>
                <button style="float: right;" class="ui blue button">Apply Filters</button>
                <span style="float: right; padding:8px 0;margin-right:10px;">350+ Projects / No Matches</span>
                
            </div>
        </div>
        <div class="projects ui two stackable cards" *ngIf="thumbnail">
                <div class="card" *ngFor="let image of images">
                   <div class="image">
                        <div class="tagInfo">
                                <div class="ui red label">Posted: 04 Aug 2019</div>
                                <div class="ui blue label">Hyderabad</div>
                        </div>
                        <img routerLink="/projectDetail" src={{image}}>
                   </div>
                   <div class="content">
                                <i class="right floated like outline icon"></i>
                                <i class="right floated star outline icon"></i>
                                <i class="right floated share alternate icon"></i>
                                <a class="header" routerLink="/projectDetail" >Spectra Fortune</a>
                                <div class="meta"><span>Built in 1997</span><span style="float: right;color:#0066ff;"><i class="rupee sign icon"></i>15999</span></div>
                                <div class="description">
                                        Kamineni Hospitals, Opp: Big Bazar, L.B.Nagar, Hyderabad, Telangana, India.
                                </div>
                                <div class="meta">Listing provided By Spectra</div>
                   </div>
                </div>
             
        </div>
        <div *ngIf="!thumbnail" class="projects">
             <project-list></project-list>  
             <project-list></project-list>  
             <project-list></project-list>  
             <project-list></project-list>  
             <project-list></project-list>  
        </div>
        <!-- <div class="projects" *ngFor="let image of imagesList" (deferLoad)="image.show = true">
                <project *ngIf="image.show"></project>
        </div> -->
    </div>
</div>