.padTop{
    padding-top: 80px;
}

.compContainer{
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
}
.mapContainer{
  width: 50%;
  /* padding-right:10px; */
  /* background: url('../../assets/map.png'); */
}
.topHeader{
  position: absolute;
  top:0;
  z-index:2 !important;
}
.projectContainer{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 50%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  /* margin-top:54px; */
  background: #fff;
}
@media all and (max-width: 1026px) {
  .mapContainer{
    display: none;
  }
  .projectContainer{
    width: 100%;
  }
}
@media all and (max-width: 1055px) {
  h3{
    display: block;
  }
}

.projectList {
  color:#414143;
  padding:9px;
  float:right;
  cursor: pointer;
  font-size:16px;
  font-weight: 700;
  margin-top:3px;
}
.priceMargin{
  margin-left:10px;margin-right:10px;
}

@media all and (max-width: 460px) {
  .priceMargin{
    margin-left:10px;
  }
}
@media all and (max-width: 460px) {
  .projectList {
    font-size:12px;
  }
}
.projects{
  /* padding:20px; */
  margin:58px 0 0 0 !important;
}
@media all and (max-width: 460px) {
  .projects{
    margin:58px 0 58px 0 !important;
  }
}
.propertyFlex{
  display:flex;
  flex-wrap: wrap;
}
.propertyFlex div{
  flex:1 0 auto;
}
.propertyFlex1{
  display:flex;
  flex-wrap: wrap;
  margin-top:10px;
  justify-content: space-between;
}
.two.fields{
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
}
.two.fields>.field{
  flex: 1 1 auto;
  margin-right:20px !important;
  /* min-width: 100% ; */
  /* width: 100% !important; */
}
.propertyFlex1 .field label{
  font-weight: 500 !important;
}
.ui.form .fields>.field:first-child {
  border: 1px solid rgba(34,36,38,.15) !important;
  min-width: 70px;
}
@media all and (min-width: 625px) {
  .ui.form .fields>.field:first-child {
    min-width: 120px;
  }
}
@media all and (min-width: 920px) {
  .ui.form .fields>.field:first-child {
    min-width: 240px;
  }
}
@media all and (min-width: 1027px) {
  .ui.form .fields>.field:first-child {
    min-width: 140px;
  }
}
.ui.form .fields {
  display: flex;
  flex-direction: row;
  margin: 0 0 1em !important;
}
@media all and (max-width: 1026px) {
  .propertyFlex div{
    margin-right:10px !important;
  }
}
@media all and (min-width: 768px) {
  .two.fields>.field{
    margin-top:10px;
  }
}
.filterMenu{
  display: none;
  flex-grow: 1;
  margin:0 20px;
  margin-top:54px;
  position: relative;
}
.activeProperty{
  background-color: #0066ff !important;
}
.filterIcon{
  margin-left:5px;
}
@media all and (min-width: 561px) {
  .filterIcon{
    display: none;
  }
}
.filterHeader{
  display: block;
  margin-top:20px;
  font-size:18px;
  color:#414143;
  font-weight: 500;
}
.footer{
  padding:10px 0;
  width: 100%;
  align-items:center;
  bottom:0;

}
@media all and (max-width: 768px) {
  .footer{
    padding-bottom:30px;
  }
}
.gridAmenities{
  margin-top:20px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.checkBox{
  margin-top:10px;
}
.activeProject{
  color:blue;
  border-bottom: 3px solid #0066ff;
}
.sectionHeader{
    border-radius: 0px 15px 15px 0px;
    background-color: #0066FF;
    color:white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    display: inline-block;
    margin-top:15px;
    padding: 5px 10px 5px 25px ;
    margin-bottom: 20px;
}

.plotHeader{
    width: 100%;
    color:white;
    padding:20px 10px 20px 5px;
    background-color: rgba(0, 102, 255,1);
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media all and (max-width: 560px) {
  .plotHeader{
    padding:10px 10px 10px 5px;
  }
  .plotHeader .dropDown{
    min-height: 2em !important;
    padding-top:0.48em !important;
    padding-bottom: 0.48em !important;
  }
  .ui.compact .dropdown.icon{
    padding: 0.55em !important;
  }
  /* .marginRight{
    display: none;
  } */
}
.dropDown{
  border-radius: 1px !important;
}
.topContainer{
  position: sticky;
  left:0;
  background: #fff;
  top:56px;
  z-index:3;
}
@media all and (max-width: 768px) {
  .topContainer{
    top:40px;
  }
}
.moreFilter{
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  padding-left: 10px;
  cursor: pointer;
  margin-right:10px;
}
@media all and (max-width: 768px) {
  .moreFilter{
    margin-right:0;
  }
}
.marginRight{
  margin-right:10px;
}
.filterDesktop{
display: flex;
flex-wrap: nowrap;
}

.totalProjectsInfo{
  display:inline-block;
  padding:12px 0;
  font-weight: 600;
  color:#414143;
  font-size:12px;
}
@media all and (max-width: 402px) {
  .totalProjectsInfo{
    display: none;
  }
  .sortDrop{
    padding: 12px 0;
    margin-left:0px !important;
  }
}
@media all and (max-width: 560px) {
  .clearButton{
    display: none;
  }
}
.moreFilter1{
  margin-left: auto;
  cursor: pointer;
  margin-right:10px;
}

.viewMode{
  float:right;
  margin-top:10px;
}
.displayInfo{
  border-bottom: 1px solid rgba(0,0,0,0.2) ;
  background: #fff;
  padding:0 20px 0 12px;
}
/* .searchHolder{
    width: 500px;
    height: auto;
} */
/* .searchHolder::placeholder{
    color:white;
} */


.container{
    width: 0px;
    height: 50px;
    float:right;
    background: white;
    text-align: center;
    /* line-height: 45px; */
    padding-right: 50px;
    transition: all 0.5s ease;
    border-radius:4px;
    margin-top:5px;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    /* box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.1); */
  }
  
  
  .container .icon{
    color: #ffffff;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .container.active{
    width: 300px;
    padding-left: 25px;
    transition: all 0.5s ease;
  }
  
  
  .filt{
    margin-left:40px;
    margin-right:5px;
  }
  
  .floatRightDrop{
    padding-top:8px;
    position: absolute;
    right:0;
  }
  .multiple{
    margin-top:20px;
  }
  .image{
    position: relative;
  }
  .tagInfo{
    opacity: 0.7;
    position: absolute;
    top:10px;
    left:10px;
  }



  .menu1{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .editable{
    width: auto !important;
    border:none !important;
    outline:none !important;
    width: 100% !important;
    background:transparent !important;
    float:left;
    padding:6px;
    color:#414143;
    margin-bottom:0;
    font-size:1.5em !important;
    font-weight: bold;
 }

@media all and (max-width: 768px) {
  .menu1{
    margin-top:10px;
  }
}
mgl-map {
  height: 100%;
  width: 100%;
}