@import url('https://fonts.googleapis.com/css?family=Roboto:100,600,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
@font-face {
    font-family: "LeagueSpartan-Bold";
    src: url('../../assets/fonts/OstrichSans-Heavy.otf');
}
.bodyLogin{
    background-color: #FCB332;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	overflow: auto;
	padding-bottom:50px;
}
@media all and (max-height: 500px) {
	.bodyLogin{
		padding-top:200px;
	}	
}
@media all  and (min-height: 501px)  and (max-height: 769px) and (max-width: 768px) {
	.bodyLogin{
		padding-top:25%;
	}	
}
h3{
	font-weight: 300 ;
	margin-bottom: 50px;
}
h3 span{
	font-weight: bold;
}
form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
}
.mobileIntro{
	margin-bottom:10px;
}
@media all and (min-width: 769px) {
	.mobileIntro{
		display: none;
	}	
}
.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 850px;
	max-width: 90%;
	min-height: 500px;
}
@media all and (max-width: 768px) {
	.container{
		min-height: 400px;
	}	
}
.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.side-info {
	left: 0;
	width: 50%;
	/* background-color: #fff; */
	background:rgba(0, 0, 0, 0.8);
	/* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(67,67,67,0.6) 100%); */
	/* background: linear-gradient(0deg,  rgba(83,105,118,1) 50%, rgba(187,210,197,1) 100%); */
	/* background: linear-gradient(0deg, rgba(83,105,118,1) 0%, rgba(187,210,197,1) 100%); */
	/* background-image: url("../../assets/house11.jpg"); */
	
	
}
.sign-up-container {
	right: 0;
	width: 50%;
	opacity: 1;
}
@media all and (max-width: 768px) {
	.sign-up-container{
		width:100%;
	}
	.displayNone{
		display: none;
	}
}

input::placeholder{
	text-transform: uppercase;
}
.inputContainer{
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 3px;
  margin-bottom: 30px;
}
input{
  outline: none;
  border: 0;
  background: transparent;
  flex: 1 0 auto;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 300;
}

input:focus ~ label {
	opacity: 1;
}
.inputContainer label{
	font-family: FontAwesome;
	font-size: 14px;
	opacity: .1;
	transition: opacity .5s ease;
  }
.inputContainer label::before {
	align-items: center;
	color: #000;
	display: flex;
	height: 30px;
	justify-content: center;
	width: 30px;
  }

  input:focus ~ label {
	opacity: 1;
  }
  input[type='text'] ~ label::before {
	content: "\f007";
  }
  input[type='tel'] ~ label::before {
	content: "\f095";
  }
  input[type='password'] ~ label::before {
	content: "\f023";
  }

.marketfront-logo{
	width:35%;
}


.info{
	margin-top:100px !important;
}
.info a{
	color: #FCB332 !important;
}
h1{
	text-transform: uppercase;
	font-size:3em ;
	letter-spacing: 2px;
	font-family: 'Josefin Sans', sans-serif;
	color:white;
}
@media all and (max-height: 768px) and (max-width: 768px) {
	h1{
		padding-top:20px;
	}	
}
.buttonCont{
	width:100%;
	display: flex;
}
.yellowBtn{
	background: #FCB332;
	color: black;
	flex: 1 0 auto;
}
.whiteBtn{
	/* background:#414143; */
	background:white;
	color: black;
	width: 100%;

}
.blueBtn{
	margin-left:10px;
	background: #0066ff;
	color: white;
	flex: 1 0 auto;
}
 button {
	align-items: center;
	
	border: 0;
	border-radius: 3px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
	display: flex;
	font-family: "Lato", sans-serif;
	font-size: 13px;
	font-weight: 500;
	justify-content: center;
	margin-top: 20px;
	outline: none;
	padding: 10px 9px 10px 11px;
  }
  button .fa {
	font-size: 12px;
	margin-left: auto;
	float:right;
	position: relative;
	top: 1px;
  }
  button:hover {
	-webkit-transform: scale(1.02);
			transform: scale(1.02);
  }
  button:active {
	-webkit-transform: scale(0.99);
			transform: scale(0.99);
  }
  .resend{
	  transform: translateY(8px);
  }
  .resendText{
	transform: translateY(8px);
	opacity: 0.5;
	color:#0066ff;
  }
  .resendText:after, .resendText:before{
	  box-sizing: initial !important;
  }