<app-navbar></app-navbar>
<div class="bodyLogin">
    <div class="intro">
            <div style="text-align: center;margin-top:100px;">
              <div class="headerText" >Explore your</div><div id="headerText" class="headerText">Ideal Home</div>
              <div class="slogan" >We'll help you find a place you'll love</div>
                <div class="ui icon input" style="margin-top:50px;">
                        <input (keyup.enter)="locationSearchEnter($event)" class="locationButton" [ngModel]="locationSelected" (ngModelChange)="locationSearch($event)" type="text" placeholder={{searchPlaceholder}}>
                        <i class="search large blue icon"></i>
                </div>
              
              </div>
    </div>
    <div class="options">
        <div class="textInfo">
          We have the most listings and constant updates.<br>
          So you’ll never miss out.
        </div>
        <hr class="hr">

        <div class="cards">
          <div (mouseenter)="hoverCard($event)" (mouseleave)="hoverCardRemove($event)" class="card" routerLink="/projects">
            <img class="cardImage" src="https://s.zillowstatic.com/homepage/static/Buy_a_home.png">
            <span class="cardHeader">Buy a Home</span>
            <span class="cardInfo">Find your place with an immersive photo experience and the most listings,<br> including things you won’t find anywhere else.</span>
            <button class="ui basic button cardButton">
                Search Homes
            </button>
          </div>
          <div (mouseenter)="hoverCard($event)" (mouseleave)="hoverCardRemove($event)" (click)="agentModal()" class="card">
              <img class="cardImage" src="https://s.zillowstatic.com/homepage/static/Sell_a_home.png">
              <span class="cardHeader">Meet an Agent</span>
              <span class="cardInfo">Meet an agent and get all details about <br>property details and price plans.</span>
              <button class="ui basic button cardButton">
                  Schedule
              </button>
            </div>
        </div>

    </div>
    <footer></footer>
  </div>


<div class="ui modal modalSign">
  <i class="close icon"></i>
  <div class="container">
    <div class="form-container sign-up-container">
        <form [@itemAnim] action="" (ngSubmit)="signIn(u1.value,p2.value)" *ngIf="hideSignIn">
          <h3><span>Sign in</span> using your username and password</h3>
          <div class="inputContainer">
            <input id="signInUsername" #u1 type="text" name="username" placeholder="Username" autocomplete="false" required />
            <label for=username></label>
          </div>
          <div class="inputContainer">
            <input id="signInPassword" #p2 type="password" placeholder="Password" autocomplete="false" required />
          <label for=password></label>
          </div>
          <div *ngIf="errors.length>0" class="ui error message" style="width: 100%;">
            <ul class="list">
              <li *ngFor="let error of errors">{{error}}</li>
            </ul>
          </div>
          <a (click)="forgotPassword()" style="cursor:pointer;font-weight: 400;color:#0066ff;"><span>Forgot your password</span></a>
          <div class="buttonCont">
            <button class="yellowBtn positive" type="submit">Sign In<i class="fa fa-fw fa-chevron-right"></i></button>
            <button class="blueBtn" (click)="createAccount()">Create account<i class="fa fa-fw fa-chevron-right"></i></button>
          </div>
        </form>
        <form [@itemAnim] action="" (ngSubmit)="signUp(phNumber.value,otp.value, pwd.value)" class="sign-up-contain" *ngIf="hideSignUp">
            <h3><span>Sign up</span> to experience the most <br> efficient way of communication</h3>
            <div class="inputContainer">
              <input id="phoneno" type="number" #phNumber placeholder="Mobile Number" autocomplete="false" required />
              <label for=phoneno></label>
            </div>
            <div class="inputContainer">
              <!-- <span class="resendText">Wait30s</span> Wait for 30 second icon -->
              <i class="resendText spinner  loading icon"></i>
               <!-- <i class="resend redo icon"></i> -->
               <input id="otp" type="text" #otp placeholder="Enter OTP" autocomplete="false" required />
               <label for=otp></label>
            </div>
            <div class="inputContainer">
                <div data-inverted="" class="passwordHelp" data-tooltip="Password should be minimum 8 characters and contain min 1 alpha-numeric character" data-variation="" data-position="left center">
                    <i class="resendText question circle icon" style="cursor:pointer;"></i> 
                </div>
              <!-- <i class="resendText question circle icon" style="cursor:pointer;"></i> -->
              <input id="password" #pwd type="password" placeholder="Enter Password" autocomplete="false" required />
             <label for=password></label>
            </div>
            <div *ngIf="errors1.length>0" class="ui error message" style="width: 100%;overflow-y:auto;max-height: 100px;">
              <ul class="list">
                <li *ngFor="let error of errors1">{{error}}</li>
              </ul>
            </div>
            <div class="buttonCont">
              <button class="yellowBtn" type="submit">Sign Up<i class="fa fa-fw fa-chevron-right"></i></button>
              <button class="blueBtn" (click)="haveAccount()">Have an account<i class="fa fa-fw fa-chevron-right"></i></button>
            </div>
          </form>
    </div>
  
</div>
</div>



<div class="ui modal agentModal">
  <i class="close icon"></i>
  <div class="header">
    Schedule a Meet Up
  </div>
  <div class="image content">
    <div class="ui medium image">
          <img src="https://s.zillowstatic.com/homepage/static/Buy_a_home.png"> 
    </div>
    <div class="description">
          <form style="padding: 0;" class="ui form">
            <div class="field">
              <label>Name</label>
              <input type="text" name="name">
            </div>
            <div class="field">
              <label>City</label>
              <input type="text" name="city" >
            </div>
            <div class="field">
              <label>Contact Number</label>
              <input type="number" name="contact" >
            </div>
            <div class="field">
              <label>Email</label>
              <input type="email" name="last-name" >
            </div>
        </form>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button" (click)="allotAgent()" >
      Schedule
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
<div class="ui savedSearchPop popup bottom right transition hidden">
  <div class="savedSearchList" (click)="selectLocation($event)">
          <i class="clock blue outline icon"></i><span style="font-weight: 600;">Bangalore, KA</span>
  </div>
  <div  class="savedSearchList" (click)="selectLocation($event)">
          <i class="clock blue outline icon"></i><span style="font-weight: 600;">Hyderabad, TS</span>  
  </div>
  <div  class="currentLoc" (click)="selectLocation($event)">
          <i class="blue map marker alternate icon"></i><span style="font-weight: 600;">Current Location</span> 
  </div>
</div>

