<app-navbar></app-navbar>
<div class="mainContainer">
    <!-- Top Info -->
    <div class="topInfo">
            <div class="propertyTypeIcon">
                    <i class="large city icon" style="color:white;"></i>
            </div>
            <div style="flex:1 0 auto;">
                <div style="font-weight: bold;font-size:18px;">{{projectSelected.project_name.capitalizeEachWord()}}</div>
                <div style="font-size:12px;">{{projectSelected.city.capitalizeEachWord()}}, {{projectSelected.state}} {{projectSelected.zipcode}}</div>
                <div style="font-size:12px;">Status: <span style="border-bottom: 1px dotted ;">Active</span>&nbsp;
                    <!-- <div class="ui blue rating" data-rating="4" data-max-rating="5"></div> -->
                </div>
            </div>
            <span (click)="save($event)" class="actionButton"><i class="like outline saveButton blue icon"></i>{{saveText}}</span>
            <span (click)="share()" class="actionButton"><i class="external alternate icon"></i>Share</span>
            <!-- <button routerLink="/buy" class="ui blue button cartButton"><i class="shopping cart icon"></i><span *ngIf="plotCart.length>0">{{plotCart.length}}</span></button> -->
          
        </div>
        <hr style="opacity: 0.3;">
        <div class="gridContainer">
            <viceroyce *ngIf="id==24"></viceroyce>
            <diamond-jewel *ngIf="id==25"></diamond-jewel>
        </div>
<footer></footer>
</div>
<div class="ui modal shareModal" >
    <i class="close icon"></i>
    <div class="shareModalContainer">
        <h2>Email this project</h2>
        <div class="ui form">
            <div class="field">
              <label>Recipient's email</label>
              <input [(ngModel)]="email" type="text" name="first-name" placeholder="Enter email">
              <div style="padding-top:5px;">Separate multiple addresses with a comma.</div>
            </div>
            <div class="field">
              <label>Your email</label>
              <input type="email" name="last-name" [(ngModel)]="fromEmail">
            </div>
            <div class="field">
              <label>Include message (optional)</label>
              <textarea [(ngModel)]="message" rows="2" placeholder="Check out this project I found on Spectra."></textarea>
            </div>
            <button (click)="sendMail()" class="ui blue button" type="submit">Send email</button>
        </div>
    </div>
</div>
<!-- 
<div class="ui modal shareModal" >
        <i class="close icon"></i>
        <div class="shareModalContainer">
            <h2>Email this project</h2>
            <form class="ui form">
                <div class="field">
                  <label>Recipient's email</label>
                  <input type="text" name="first-name" placeholder="Enter email">
                  <div style="padding-top:5px;">Separate multiple addresses with a comma.</div>
                </div>
                <div class="field">
                  <label>Your email</label>
                  <input type="email" name="last-name" value="charlis@saisanj.com">
                </div>
                <div class="field">
                  <label>Include message (optional)</label>
                  <textarea rows="2" placeholder="Check out this home I found on Spectra."></textarea>
                </div>
                <button (click)="sendMail()" class="ui blue button" type="submit">Send email</button>
            </form>
        </div>
</div> -->
<div class="ui plotPopup popup bottom center transition hidden">
    <div class="ui header">Property Type</div>

  
</div>