.mainContainer{
    margin:0 25px;
 }
 @media all and (max-width: 930px) {
     .mainContainer{
         margin:0 10px;
      }
 }
 .topInfo{
    display: flex;
    position: relative;
    color:#414143;
    align-items: center;
    padding-top:80px;
    justify-content: space-between;
}
/* @media all and (max-width: 800px) {
    .topInfo {
       display: none;
    }
} */
.propertyTypeIcon{
    padding: 10px 8px;;
    border-radius: 5px;
    background: #0066ff;
    margin-right:5px;
    border: 2px solid #414143;
}
.propertyTypeIcon .icon{
    margin:0 !important;
}
.infoValue{
    text-align: center;font-weight: bold;font-size:18px;
}
.infoLabel{
    text-align: center;font-size:12px;margin-top:10px;
}
.actionButton{
    font-size:16px;
    margin-right:10px;
    cursor: pointer;
    color:#0066ff;
    font-weight: bold;
}
.searchPlot{
    display: none;
}
.plotStatus{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 840px){
  .searchPlotDesktop{
       display: none;
    }
}
@media screen and (max-width: 840px){
    .searchPlot{
        display: inline-flex;
        width: 100%;
        margin-top:10px;
    }
}
@media screen and (max-width: 768px){
    .actionButton{
       display: none;
    }
    .searchPlot{
        display: inline-flex;
        width: 100%;
        margin-top:10px;
    }
    /* .plotStatus{
        margin-top:20px;
    } */
}
.ui.celled.horizontal.list{
    flex:1 0 auto;
}
.flexActions{
   display: flex;
   position:sticky;
   top:56px;
   padding:10px;
   background: #F7F9FC;
   flex-wrap: wrap;
   justify-content: space-between;
}
/* .flexActions div:first-of-type{
    flex: 1 0 auto;
} */
@media screen and (max-width: 768px){
    .flexActions{
        top:50px;
    }
}
.shareModal{
    width: 400px !important;
}
.shareModalContainer{
    padding:15px;
}
.shareModalContainer label{
    font-size:14px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.available{
    fill:#2fce72;
}
.available1{
    fill:#0066ff;
}
.available:hover{
    /* fill:#414143; */
    cursor: cell;
    fill: rgba(65,65,67,0.7);
}
.cls-14,.cls-15,.cls-3{
    pointer-events: none !important;
}