<app-navbar></app-navbar>
<div class="mainContainer">
    <div class="topInfo">
            <div class="propertyTypeIcon">
                    <i class="large city icon" style="color:white;"></i>
            </div>
            <div style="flex:1 0 auto;">
                <div style="font-weight: bold;font-size:18px;">Viceroyce Residency</div>
                <div style="font-size:12px;">Allisabguda, Telangana 509228</div>
                <div style="font-size:12px;">Plot Number: <span style="border-bottom: 1px dotted ;color:#0066ff;font-weight: bold;font-size:14px;">{{plotSelected}}</span>
                </div>
            </div>
        </div>
        <hr style="opacity: 0.3;">
</div>
<div class="topHeader">Application Form
    <div class="formInfo">Passbook No: <span style="color:#0066ff">453443</span></div><br>
    <div class="formInfo">Sector: <span style="color:#0066ff">OUTRIGHT</span></div>
</div>
<div class="allotmentForm">
    <div class="label">Name</div>
    <input type="text">
    <div class="label">Date of Birth</div>
    <input type="text">
    <div class="label">Occupation</div>
    <input type="text">
    <div class="label">Father's / Spouse Name</div>
    <input type="text">
    <div class="label">Nominee Name</div>
    <input type="text">
    <div class="label">Age</div>
    <input type="number">
    <div class="label">Relationship with Applicant</div>
    <input type="text">
    <div class="label">Office / Correspondence Address</div>
    <textarea rows="5"></textarea>
    <div class="label">Mobile Number</div>
    <input type="number">
    <div class="label">Permanent Address</div>
    <textarea rows="5"></textarea>
    <div class="label">Email</div>
    <input type="email">
    <div class="label">PAN Card Number</div>
    <input type="text">
    <div class="label">AADHAAR Number</div>
    <input type="number">
    <div></div>
    <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>I agree to have Plot in <span style="color:#0066ff;font-weight: bold;">VICEROYCE RESIDENCY</span>, please reserve one plot for me as per the details above</label>
    </div>
    <div></div>
    <div>
            <button routerLink="/successAllot" class="right submitButton floated ui button blue">Submit</button>
    </div>
    
</div>


<footer></footer>