<app-navbar></app-navbar>
<div class="topHeader">Profile <i (click)="editEnabled()" style="cursor: pointer" class="edit outline tiny blue icon"></i>
    
</div>

<div class="profileInfo">
    <div class="formInfo">
        <div class="avatar" (click)="uploadPicture()">
            <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" />
            <!-- <svg class="editButton" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.500097 12.8886C0.500097 19.366 5.95563 24.6485 12.7249 24.6485C19.4942 24.6485 24.9497 19.366 24.9497 12.8886C24.9497 6.41113 19.4942 1.12866 12.7249 1.12866C5.95563 1.12866 0.500097 6.41113 0.500097 12.8886Z" fill="#0066FF" stroke="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.78208 7.35787C8.57083 7.1304 8.57083 6.76293 8.78208 6.53546L10.0496 5.1706C10.1508 5.06138 10.2882 5 10.4315 5C10.5747 5 10.7121 5.06138 10.8133 5.1706L11.875 6.31381L9.84375 8.50109L8.78208 7.35787ZM17.8333 12.7298L12.4167 6.89709L10.3854 9.08436L15.8021 14.9171H17.8333V12.7298ZM16.75 13.7505H16.2517L11.9183 9.08436L12.4167 8.54775L16.75 13.2139V13.7505ZM7 16.6669H20V19H7V16.6669Z" fill="white"/>
            </svg> -->
      </div>
      <input (change)="onSelectFile($event)" id="imageUpload" type="file" name="profile_photo" placeholder="Photo"  accept="image/*" required="" capture>

    </div>
    <div></div>
    <div class="label">Name</div>
    <input class="inputDisabled editable" disabled [(ngModel)]="profileData.name" type="text">
    <!-- <div class="label">Username</div>
    <input class="inputDisabled" disabled value="jonh_keane" type="text"> -->
    <div class="label">Date of Birth</div>
    <div class="ui calendar" id="year_first_calendar">
        <div class="ui input right icon">
          <!-- <i class="calendar icon"></i> -->
          <input  class="inputDisabled editable" type="text" [(ngModel)]="profileData.dob" disabled>
        </div>
      </div>
    <div class="label">Father's / Spouse Name</div>
    <input class="inputDisabled editable" disabled [(ngModel)]="profileData.fatherOrSpouseName" type="text">
    <div class="label">Mobile Number</div>
    <input class="inputDisabled" disabled [(ngModel)]="profileData.phoneNumber" type="text">
    <div class="label">Permanent Address</div>
    <textarea class="inputDisabled editable" [(ngModel)]="profileData.address" disabled rows="5">Shadnagar, Telangana</textarea>
    <div class="label">Email</div>
    <input class="inputDisabled editable" disabled [(ngModel)]="profileData.email" type="email">
    <div class="label">PAN Card Number</div>
    <input class="inputDisabled editable" disabled [(ngModel)]="profileData.pan" type="text">
    <div class="label">AADHAAR Number</div>
    <input class="inputDisabled editable" disabled [(ngModel)]="profileData.aadhar" type="number">
    <div class="label">Reference Code</div>
    <input class="inputDisabled editable" disabled type="number">
    <div></div>
    <div *ngIf="edit">
            <button (click)="saveProfile()" class="right submitButton floated ui button basic green">Save</button>
    </div>
    
</div>


<footer></footer>