.padTop{
    padding-top: 80px;
}
.heading{
    font-size:18px;
    margin-left:14.5px;
    text-transform: uppercase;
    color:#0066FF;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 21px;
}
.avatar{
    margin-left:14.5px;
    margin-top:10px;
}
.avatar img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border-width: 4px;
    padding: 4px;
    background-image: linear-gradient(-90deg, #FCB332 50%, rgba(0, 0, 0, 0) 50%),
                      linear-gradient(0deg, #FCB332 50%, rgba(0, 0, 0, 0) 50%);
}
.profileName{
    font-weight: bold;
    font-size: 13px;
    color: #0066FF;
    margin-left:14.5px;
    margin-top:10px;
}


.sectionHeader{
    border-radius: 0px 15px 15px 0px;
    background-color: #0066FF;
    color:white;
    /* font:bold; */
    display: inline-block;
    margin-top:15px;
    padding: 5px 10px 5px 15px ;

}
.notificationHeader{
    border-radius: 15px 0px 0px 15px;
    background-color: #FCB332;
    color:white;
    float:right;
    position: relative;
    padding: 5px 10px 5px 15px ;
}