.padTop{
    padding-top: 80px;
}

.dPadTop{
    padding: 80px 3% 50px 3%;
    display:grid;
    grid-gap: 3%;
    grid-template-columns: 25% 44% 25% ;
 
}
.emiContainer1{
    margin-top:40px;
}
@media all and  (min-width:769px) and (max-width: 1024px) {
	
    .dPadTop{
        grid-gap: 3%;
        grid-template-columns: 35% 62%;
    
    }
    .emiContainer2, .trans1{
        display: none;
    }
}
@media all and (min-width: 769px) {
	.padTop{
		display: none;
  }
}
@media all and (min-width: 1025px) {
	.emiContainer1, .trans2{
		display: none;
  }
}
@media all and (max-width: 768px) {
	.dPadTop{
		display: none;
  }
}

.heading{
    font-size:18px;
    margin-left:14.5px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    color:#0066FF;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 21px;
}
.avatar{
    margin-left:14.5px;
    margin-top:10px;
}
.avatar img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border-width: 4px;
    padding: 4px;
    background-image: linear-gradient(-90deg, #FCB332 50%, rgba(0, 0, 0, 0) 50%),
                      linear-gradient(0deg, #FCB332 50%, rgba(0, 0, 0, 0) 50%);
}
.profilePic{
    position: absolute;
    left: 50%;
    top:10%;
    transform: translateX(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border-width: 4px;
    padding: 4px;
    background-image: linear-gradient(-90deg, white 50%, rgba(0, 0, 0, 0) 50%),
                      linear-gradient(0deg, white 100%, rgba(0, 0, 0, 0) 50%);
}
.profileName{
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    color: #0066FF;
    margin-left:14.5px;
    margin-top:10px;
}


.sectionHeader{
    border-radius: 0px 15px 15px 0px;
    background-color: #0066FF;
    color:white;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    display: inline-block;
    margin-top:15px;
    padding: 5px 10px 5px 15px ;

}
.notificationHeader{
    border-radius: 15px 0px 0px 15px;
    background-color: #FCB332;
    color:white;
    height: 29px;
     font-family: 'Lato', sans-serif;
    font-weight: 500;
    float:right;
    position: relative;
    padding: 5px 10px 5px 15px ;
}
.gridContainer{
    display: grid;
    letter-spacing: 0.7px;
    font-size:12px;
    grid-template-columns: auto auto;
}
.info{
    text-align: right;
    margin-right:10px;
}
.label-info{
    margin-left:10px;
    margin-bottom:4px;
}
.header{
    width: 100%;
    margin-top:40px;
    color:white;
    font-family: 'Lato', sans-serif;
    background-color: #0066ff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	padding:10px 0 10px 5px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.emiHeader{
    width: 100%;
	color:white;
	background-color: #0066ff;
    padding:10px 0 10px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Lato', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.plotHeader{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	color:white;
	background-color: #0066ff;
    padding:10px 0 10px 5px;
    font-family: 'Lato', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.plotContainer{
    background-color: white; 
    overflow-y:auto;
    overflow-x: hidden; 
    height: 530px;
}
@media all and (max-width: 1024px) {
	.plotContainer{
		height: 850px;
  }
}
