.mainContainer{
    margin:0 25px;
 }
 @media all and (max-width: 930px) {
     .mainContainer{
         margin:0 10px;
      }
 }
 .topInfo{
    display: flex;
    position: relative;
    color:#414143;
    align-items: center;
    padding-top:80px;
    justify-content: space-between;
}
.propertyTypeIcon{
    padding: 10px 8px;;
    border-radius: 5px;
    background: #0066ff;
    margin-right:5px;
    border: 2px solid #414143;
}
.propertyTypeIcon .icon{
    margin:0 !important;
}
.cards {
    display: flex;
    justify-content: center;
  }
.card {
  display: flex;
  flex: 1 1 0;
  max-width: 400px;
  position: relative;
  margin: 40px 20px 0 20px;
  border-radius: 5px;
  cursor: pointer;
  flex-direction: column;
  background: #fff;
  box-shadow: rgb(209, 209, 213) 0px 5px 15px;
  align-items: center;
  transition: all 0.5s;

  text-align: center;

  font-weight: bold;
  font-size: 24px;
}
  @media all and (max-width: 768px) {
    .cards {
      flex-direction: column;
      align-items: center;
    }
    .card {
        width: 80%;
      }
  }
  .animate {
    transform: scale(1.05);
  }
  .cardHeader {
    font-family: "Crimson Text", serif;
    margin-top: 30px;
    color:#0066ff;
  }
  .cardInfo {
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: normal;
    font-family: "Lato", sans-serif;
  }
  .cardButton {
    margin: 30px 0;
    position: absolute;
    bottom: 0;
    color: #0066ff !important;
  }
  .cardButtonGreen{
    margin: 30px 0;
    position: absolute;
    bottom: 0;
    color: #2fce72 !important;
  }
  .card .blue {
    color: white !important;
  }
  .paymentReview{
     text-align: center
  }
  .paymentReview table{
      margin:0 auto;
  }