<app-navbar></app-navbar>
<div class="padTop">
  <span class="sectionHeader">
    Create Profile
  </span>
  <button class="ui button desktopButton saveProfileDesktop" (click)="saveProfile()"  type="submit">Save<i class="arrow right icon" style="color:white;"></i></button>
  <div style="clear:both;"></div>
  
  <div class="container">
    <div><span class="cancelForm" routerLink="/login">Cancel<i style="margin-left:5px;" class="close icon"></i></span></div>
    <div style="clear: both;"></div>
    <form style="padding:30px 15px;" class="ui form">
      <div>
            <div class="avatar" (click)="uploadPicture()">
              <!-- <svg class="editButton" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.986181 8.97657C0.986181 13.1963 4.54204 16.6485 8.96794 16.6485C13.3939 16.6485 16.9497 13.1963 16.9497 8.97657C16.9497 4.75688 13.3939 1.30469 8.96794 1.30469C4.54204 1.30469 0.986181 4.75688 0.986181 8.97657Z" fill="#0066FF" stroke="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.23375 5.51578C6.0875 5.36954 6.0875 5.13331 6.23375 4.98708L7.11125 4.10967C7.18131 4.03946 7.27643 4 7.37562 4C7.47482 4 7.56994 4.03946 7.64 4.10967L8.375 4.84459L6.96875 6.2507L6.23375 5.51578ZM12.5 8.96917L8.75 5.21956L7.34375 6.62566L11.0938 10.3753H12.5V8.96917ZM11.75 9.62535H11.405L8.405 6.62566L8.75 6.2807L11.75 9.28038V9.62535ZM5 11.5002H14V13H5V11.5002Z" fill="white"/>
                </svg> -->
                
                <!-- <i class="navIcon user circle icon large" ></i> -->
            <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" />
            <svg class="editButton" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.500097 12.8886C0.500097 19.366 5.95563 24.6485 12.7249 24.6485C19.4942 24.6485 24.9497 19.366 24.9497 12.8886C24.9497 6.41113 19.4942 1.12866 12.7249 1.12866C5.95563 1.12866 0.500097 6.41113 0.500097 12.8886Z" fill="#0066FF" stroke="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.78208 7.35787C8.57083 7.1304 8.57083 6.76293 8.78208 6.53546L10.0496 5.1706C10.1508 5.06138 10.2882 5 10.4315 5C10.5747 5 10.7121 5.06138 10.8133 5.1706L11.875 6.31381L9.84375 8.50109L8.78208 7.35787ZM17.8333 12.7298L12.4167 6.89709L10.3854 9.08436L15.8021 14.9171H17.8333V12.7298ZM16.75 13.7505H16.2517L11.9183 9.08436L12.4167 8.54775L16.75 13.2139V13.7505ZM7 16.6669H20V19H7V16.6669Z" fill="white"/>
            </svg>
          </div>
          <input (change)="onSelectFile($event)" id="imageUpload" type="file" name="profile_photo" placeholder="Photo"  accept="image/*" required="" capture>
          <div class="required field">
            <label>Name</label>
            <input type="text" name="name" >
          </div>
          <div class="required field">
            <label>Username</label>
            <input type="text" name="username" >
          </div>
          <div class="required field">
            <label>Password</label>
            <input type="password" readonly="" value="admin123" name="password" >
          </div>
          <div (click)="updatePasswordModal()" class="update"><span>Update Password</span></div>
          <div class="required field">
            <label>Email</label>
            <input type="email" name="email" >
          </div>
          
          
      </div>
      <div>
        <div class="required field">
            <label>Phone Number</label>
            <input type="number" readonly="" value="9435350679" name="phNo" >
        </div>
        <div class="required field">
            <label>Address</label>
            <textarea rows="2"></textarea>
        </div>
        <div class="required field">
          <label>Date Of Birth</label>
          <div class="ui calendar" id="year_first_calendar">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="Date">
            </div>
          </div>
        </div>
        <div class="required field">
          <label>Aadhar Number</label>
          <input type="number" name="aadhar-number" >
        </div>
        <div class="required field">
          <label>Pan Number</label>
          <input type="text" name="pan-number" >
        </div>
        <div class="field">
          <label>Marketing Agent</label>
          <select class="ui fluid dropdown">
            <option value="">Select</option>
            <option value="cash">Raju Rastogi</option>
            <option value="cash">Shweta Tiwari</option>
            <option value="cash">Anju Singh</option>
            <option value="cash">John Wick</option>
        </select>
        </div>
      </div>
     
      
      <!-- <button class="ui button" type="submit">Submit</button> -->
    </form> 
  </div>   
  <button class="ui button mobileButton saveProfile" (click)="saveProfile()"  type="submit">Save<i class="arrow right icon" style="color:white;"></i></button>
</div>


<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Enter Current and New Password
  </div>
  <div class="image content">
    <div class="ui medium image">
          <i class="black sync alternate icon" style="margin-left:100px;"></i>
    </div>
    <div class="description">
          <form class="ui form">
                  <div class="field">
                    <label>Current Password</label>
                    <input [(ngModel)]="currentPassword" type="password" name="currentPassword" placeholder="Current Password">
                  </div>
                  <div class="field">
                    <label>New Password</label>
                    <input id="newPassword" [(ngModel)]="newPassword" type="password" name="newPassword" placeholder="New Password">
                  </div>
          </form>
    </div>
  </div>
  <div class="actions">
    <div class="ui negative right labeled icon button" (click)="check($event)" >
      {{checkString}}
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>