<app-navbar></app-navbar>
<!-- <div style="padding-top:100px;">
    Complete your Profile for best experience
    <div>
        Enter Name
    </div>
    <div>
        Enter Email
    </div>
    <div>
        Date of Birth
    </div>
    <div>
        Aadhar Number
    </div>
    <div>
        PAN Number
    </div>
    <div>
        Enter Passbook  - open popup so that he can enter otp for validation
    </div>
    
</div> -->

<form style="padding:300px 20px;" class="ui form">
    <div class="field">
      <label>First Name</label>
      <input type="text" name="first-name" placeholder="First Name">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="last-name" placeholder="Last Name">
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>I agree to the Terms and Conditions</label>
      </div>
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>