/* You can add global styles to this file, and also import other style files */
body{
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Open Sans', sans-serif;   navbar and input */
    /* font-family: 'Quicksand', sans-serif;  */
    font-family: 'Lato', sans-serif;  
}
html {
    scroll-behavior: smooth;
  }
@media all and (min-width: 769px) {
	body{
		background-color: #F7F9FC;
    }
}
*:focus {
    outline: 0;
    outline: none;
}
.emiDate{
  background-image: url('./assets/rupee-indian-01.png');
  color: #0066ff;
  font-weight: bold;
  box-shadow: 0 0 0 #0066ff inset;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gridContent .ui.table>thead>tr>th {
  background: aliceblue !important;
}
.gridContent .ui.celled.table>tbody>tr>td,.gridContent .ui.celled.table>tbody>tr>th,.gridContent .ui.celled.table>tfoot>tr>th,.gridContent .ui.celled.table>thead>tr>th,.gridContent .ui.celled.table>tr>td,.gridContent .ui.celled.table>tr>th {
  border: none !important;
}
.gridContent .ui.table>tbody>tr>td,.gridContent .ui.table>tr>td{
  padding: .78571429em .78571429em !important;
}
.gridContent .ui.ui.table td.active,.gridContent  .ui.ui.ui.ui.table tr.active {
  background: #0066ff !important;
  color:white !important;
  border-radius: 4px ;
}