/* You can add global styles to this file, and also import other style files */
body{
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Open Sans', sans-serif;   navbar and input */
    /* font-family: 'Quicksand', sans-serif;  */
    font-family: 'Lato', sans-serif;  
}
html {
    scroll-behavior: smooth;
  }
@media all and (min-width: 769px) {
	body{
		background-color: #F7F9FC;
    }
}
*:focus {
    outline: 0;
    outline: none;
}
.emiDate{
  background-image: url('./assets/rupee-indian-01.png');
  color: #0066ff;
  font-weight: bold;
  box-shadow: 0 0 0 #0066ff inset;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}