
.container {
	background-color: #fff;
	border: 1px solid #e2e2e2;
	position: relative;
    overflow: hidden;
    margin: 5px auto;
    border-radius: 4px;
	width: 100%;
	max-width: 100%;
	margin-top:10px !important;
	height:auto;
	min-height: 80px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.EMIHeader{
	font-weight: bold;
	margin-left:5%;
    margin-top:15px;
}
@media all and  (min-width:460px) and (max-width: 768px) {
    .EMIHeader{
		margin-left:15%;
		margin-right:15%;
	}

}

.detailedInfo {
	right: 0;
	width: 65%;
}


.fields {
	left: 0;
	width: 35%;
	color:white;
	background:#0066FF;
}
.list{
	list-style-type: none;
	font-size: 12px;
	font-weight: 500;
	padding-left: 10px !important;
}

.dateSelected{
	float:right;
	margin-right:5%;
}
@media all and (max-width: 768px) {
	.dateSelected{
		margin-right:0;
  	}
}
@media all and (max-width: 460px) {
	.dateSelected{
		margin-right:5%;
  	}
}
.detailedInfo .list li{
	font-weight: bold;
}
.infoValue{
	text-align: center;font-weight: bold;font-size:16px;
	color:#0066ff;
  }
  
  .infoLabel{
	text-align: center;font-size:12px;margin-top:10px;
	font-weight: bold;
  }
  .ui.header{
	  text-align: center;
	  padding-top:10px;
  }
  .horizontal.list{
	  display: block !important;
	  text-align: center;
	  margin:0 auto;
  }