<div *ngIf="showMePartially" class="EMIHeader">
    EMI Details<span class="dateSelected">{{dateSelected}}</span>
</div>
<div *ngIf="showMePartially" class="container">
    <div class="form-container detailedInfo">
      <ul class="list">
          <li>Spectra Fortune, Plot No 314</li>
          <li>BJIPD2659A</li>
          <li>₹15000</li>
      </ul>
    </div>
    <div class="form-container fields ">
      <ul class="list">
          <li>Project Info</li>
          <li>Passbook</li>
          <li>Amount due</li>
      </ul>
    </div>
</div>
